[2020-04-09 14:40] grst opened #1 "Switch to python 3"
In GitLab by @grst on Oct 3, 2019, 10:35

Python 2 will not be supported any more end of the year.
We should port the code to python 3.7. Should not be too hard.

https://pythonclock.org/

[2020-04-09 14:40] #1 closed, assigned to nobody

[2020-04-09 14:40] grst opened #2 "Error in callClonotypes"
In GitLab by @grst on Nov 18, 2019, 16:53

Hi @szabogtamas,

the new pipeline looks very nice and I got to run it on the example data without problems.
I now
* merged the multiprocess branch into master
* cleaned up the `main.nf` a bit
* created conda `yml` files. So it is independent of the environment in your home directory.

When I try to run it on the data from the Vanderburg study,
I get the

[2020-04-09 14:40] #2 closed, assigned to nobody

[2020-04-09 14:40] grst opened #3 "Error when running with many cells"
In GitLab by @grst on Nov 19, 2019, 14:00

Hi @szabogtamas,

after fixing the sample prefixes, the pipeline ran fine on two samples of the Vanderburg study.
However, when including all samples (50k cells) a certain object appears to become too large for multiprocessing (see error message below).

This is just to keep track of the error, we can discuss it next week and I can probably fix it myself.

[2020-04-09 14:40] #3 closed, assigned to grst

[2020-04-09 14:40] grst opened #4 "Describe rationale of clonotype definition [REPLACEMENT ISSUE]"
The original issue

	Id: 4
	Title: Describe rationale of clonotype definition

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-09 14:40] grst opened #5 "Function documentation"
In GitLab by @grst on Nov 27, 2019, 11:32

Hi @szabogtamas,

if you still find some time, it would be great if you could add documentation to at least the most important functions, explaining the input arguments and return values. This would make it a lot easier for me to maintain the project.

I would recommend sticking to [numpydoc](https://numpydoc.readthedocs.io/en/latest/format.html). There's

[2020-04-09 14:40] #5 closed, assigned to nobody

[2020-04-09 14:40] grst opened #6 "Type Checking"
In GitLab by @grst on Jan 17, 2020, 14:32

null

[2020-04-09 14:41] #6 closed, assigned to grst

[2020-04-09 14:41] grst opened #7 "Set-up docs."
In GitLab by @grst on Jan 17, 2020, 16:52

- [x] Support citing (e.g. parasail).
- [x] Support intersphinx (links to scanpy)
- [x] fix backticks

[2020-04-09 14:41] #7 closed, assigned to grst

[2020-04-09 14:41] grst opened #8 "Find consistent way for checking for 'nan' in `obs` columns"
In GitLab by @grst on Jan 19, 2020, 17:40

`adata.obs` columns are converted to categorical on plotting. `None`, `NaN` might be turned into `str(nan)` in that case which breaks `pd.isna` etc.

[2020-04-09 14:42] #8 closed, assigned to grst

[2020-04-09 14:42] grst opened #9 "List of plots [REPLACEMENT ISSUE]"
The original issue

	Id: 9
	Title: List of plots

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-09 14:43] #9 closed, assigned to nobody

[2020-04-09 14:44] grst opened #10 "Supported T cell receptor types [REPLACEMENT ISSUE]"
The original issue

	Id: 10
	Title: Supported T cell receptor types

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-09 14:44] grst opened #11 "TCR dist"
In GitLab by @grst on Jan 24, 2020, 13:50

Getting the alignments was quite straightforward, thanks to [parasail](https://github.com/jeffdaily/parasail#compiling-and-installing).
We said that we focus on CDR3, at least initially.

@szabogtamas, some points to discuss
 * Distance between which chains? primary alpha/beta only?
 * What if a cell does not have either alpha or beta?
 * Right now, I use

[2020-04-09 14:44] #11 closed, assigned to grst

[2020-04-09 14:44] grst opened #12 "Sequence Logos"
In GitLab by @grst on Jan 24, 2020, 14:06

Here's a quite recent re-implementation of sequence logos in Python that looks promising:
https://github.com/jbkinney/logomaker

We will also require an algorithm for multiple sequence alignment in addition to the pairwise one that we have already.

Things to discuss:
- [ ] What sequences to use (TCRA/B primary only?)
- [ ] What happens if a cell lacks th

[2020-04-09 14:45] grst opened #13 "tests for IO"
In GitLab by @grst on Jan 29, 2020, 18:07

Add unit tests for the IO functions.
Check values with two sample entries and verify manually.

[2020-04-09 14:45] #13 closed, assigned to grst

[2020-04-09 14:45] grst opened #14 "Basic plots"
In GitLab by @grst on Jan 30, 2020, 11:18

This issue is about implementing basic plotting functions that can be re-used to plot any column in `obs` by a group.

`sc.pl.violin` already exists in scanpy.
Example:
[code]
![image](/uploads/851a54244376690645db07628c98fa70/image.png)

Do we also want
- [ ] barplot
- [ ] boxplot

?

[2020-04-09 14:45] #14 closed, assigned to nobody

[2020-04-09 14:45] grst opened #15 "List of Tools"
In GitLab by @grst on Jan 30, 2020, 12:59

Tools are functions that work with the data parsed from 10x/tracer and add either
  * new columns to `obs`
  * new matrices to `obsm` (e.g. distance matrices)
  * other summary data to `uns`.

They are usually required as an additional processing step before running certain plotting functions.
Here's a list of tools we want to implement.

 @szabogtamas, f

[2020-04-09 14:46] #15 closed, assigned to nobody

[2020-04-09 14:46] grst opened #16 "Ignore uncategorized cells (NaN), when calculating fractions?"
In GitLab by @szabogtamas on Feb 6, 2020, 11:09

There are lots of cells without TCR and thus, no clnotype assigned. Should we exclude them from the base, when calculating clusters or include them as a fraction? Include on plot?
Pro: it is cleaner to show fractions of the categorized cells
Con: they are there...

[2020-04-09 14:46] #16 closed, assigned to nobody

[2020-04-09 14:47] grst opened #17 "Should plotting functions accept a dictionary"
In GitLab by @szabogtamas on Feb 6, 2020, 11:22

I previously found it great help it tools of functions also accepted standard Python data structures, not only an object defined by a library that might not even be used.
Of course, scanpy is robust already and there is no real danger that we needed this backdoor, so in this particular case, I can go along with accepting AnnData objects only.
The qu

[2020-04-09 14:47] #17 closed, assigned to nobody

[2020-04-09 14:47] grst opened #18 "Allow "themeing" for figures?"
In GitLab by @szabogtamas on Feb 6, 2020, 12:02

Maybe this is something already available in Scanpy and I recall something similar is already implemented in Seaborn.
I think that in order to make plots prettier, a key step would be to fix size.
For most publication scenarios a 3.44 x 2.58 inch figure is a safe choice (a single text column in most journals) that resolves to around the 1050x768 pix

[2020-04-09 14:47] #18 closed, assigned to nobody

[2020-04-09 14:47] grst opened #19 "Do we need a plotting function for chain pairing?"
In GitLab by @szabogtamas on Feb 10, 2020, 12:10

Chain pairing stats can be visualized by the group abundance plotting function. It will not check if the tool was ran and also uses a specific set of settings. Does it make sense to create a function for it that is only a wrapper actually?

[2020-04-09 14:47] #19 closed, assigned to nobody

[2020-04-09 14:47] grst opened #20 "Add groupwise data to obs"
In GitLab by @szabogtamas on Feb 10, 2020, 13:00

When computing convergence, it seems plausible to add the convergence value (let us say log(1/singleton rate) for now) for a single cell given the grouping to `obs` and not only the singleton/duplicate/triplicate rates to `uns`.
The case would be similar with alpha diversity scores and maybe also clonal expansion.
If we add it, what rule should we

[2020-04-09 14:48] #20 closed, assigned to grst

[2020-04-09 14:48] grst opened #21 "Pseudo counts if fraction?"
In GitLab by @szabogtamas on Feb 11, 2020, 10:36

In case of spectratypes, I am using pseudocounts to draw nicer KDE curves if fraction is true.
Does peudocount make sense for a stripplot or boxplot?

[2020-04-09 14:48] #21 closed, assigned to nobody

[2020-04-09 14:48] grst opened #22 "Stacked spectratype curves shifted"
In GitLab by @szabogtamas on Feb 11, 2020, 14:51

In the stacked curve mode of spectratype plotting, the fill areas are shifted because I cannot find a way to set bins for seaborn's kdeplot. Maybe we could move to scipy or scikit.

[2020-04-09 14:48] #22 closed, assigned to nobody

[2020-04-09 14:48] grst opened #23 "CDR3 convergence"
In GitLab by @szabogtamas on Feb 11, 2020, 16:00

I think we need to think again about how to compute the convergence and how useful it is in the context of single cell data.
In our example dataset, it appears so occur at negligible rates and doesn't make sense to be visualized as a barplot.
Finally, I believe it measures something similar as TCR-dist.

Ideas:
 * Create a single value measure (lik

[2020-04-09 14:49] grst opened #24 "VDJ usage as Sankey plot [REPLACEMENT ISSUE]"
The original issue

	Id: 24
	Title: VDJ usage as Sankey plot

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-09 14:49] #24 closed, assigned to nobody

[2020-04-09 14:49] grst opened #25 "Consider computing inexpensive tools on-the-fly"
In GitLab by @grst on Feb 13, 2020, 16:03

I have just been using `sctcrpy` with Sandro to analyse some TCR data.
He could use the library on his own without a lot of help from my side, except for plotting different subsets of `adata` (all plots looked the same because it re-used the precomputed values). And it is indeed a bit unintutitive...

Maybe we should reconsider the need of a `tool` for ea

[2020-04-09 14:49] #25 closed, assigned to nobody

[2020-04-09 14:49] grst opened #26 "Distance-based plots and tools"
In GitLab by @grst on Feb 14, 2020, 16:16

Mirror the scanpy-workflow:

- `tcr_dist` is the equivalent of `neighbors`

Then, the following tools
- [ ] `tl.tcr_umap`
- [ ] `st.tl.dendrogram(adata, groupby)` Compute a dendrogram on an arbitrary distance matrix (e.g. from tcr_dist).

And the following plots:
- [ ] `pl.tcr_umap`
- [ ] `pl.dendrogram`
- [ ] ...

[2020-04-09 14:50] #26 closed, assigned to nobody

[2020-04-09 14:50] grst opened #27 "Public and private epitopes"
In GitLab by @szabogtamas on Feb 19, 2020, 14:04

In publications, people commonly refer to CDR3s shared by most individuals in a group (patients) as a public chain. We should also consider if we want to offer a function to detect public CDRs and if this should just return a list or try to visualize something.
Another consideration is whether or not we should creat a metric that tells us how publi

[2020-04-09 14:50] grst opened #28 "Improving distance-functions"
In GitLab by @grst on Feb 28, 2020, 12:56

With !10, the basic functionality to compute distances was added.

Next steps:
- [ ] for leiden to work, the distances need to be turned into adjacencies. This needs to be somehow achieved with some low-level umap code. Also, this is better for storing as sparse format.
- [ ] let the user decide on "primary only" vs "all chains"
- [ ] reconcile TRA and TR

[2020-04-09 14:50] #28 closed, assigned to grst

[2020-04-09 14:50] grst opened #29 "Competition: pyVDJ"
In GitLab by @grst on Mar 13, 2020, 11:56

Just discovered this on GitHub:

* https://github.com/veghp/pyVDJ
* https://github.com/veghp/pyVDJ/blob/master/tutorials/pyVDJ_tutorial.ipynb

Has quite similar concepts (scanpy extension)... on the other hand it doesn't really seem promoted a lot and lacks some functionality that we have.
I do like their way of visualizing shared CDR3 sequences and that

[2020-04-09 14:50] #29 closed, assigned to nobody

[2020-04-09 14:50] grst opened #30 "Include datasets"
In GitLab by @grst on Mar 16, 2020, 15:08

Include demo datasets as part of the package (`sctcrpy.datasets`) similar to how it is done in scanpy.

Nice datasets to include:

### 10x
- [x] https://www.nature.com/articles/s41586-020-2056-8#data-availability
- [ ] 10x genomics demo datasets.

### Smartseq2
- [ ] https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE75688 (500 cells of human breast ca

[2020-04-09 14:51] grst opened #31 "Fix KDE/curve plot [REPLACEMENT ISSUE]"
The original issue

	Id: 31
	Title: Fix KDE/curve plot

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-09 14:51] grst opened #32 "Implement Levenshtein distance for tcr dist"
In GitLab by @grst on Mar 17, 2020, 17:29

Should be really straightforward.
https://rawgit.com/ztane/python-Levenshtein/master/docs/Levenshtein.html

On the other hand, it should be equivalent to a global pairwise sequence alignment with identity matrix and gap penalty 1.

[2020-04-09 14:51] #32 closed, assigned to grst

[2020-04-09 14:51] grst opened #33 "Read 10x csv data"
In GitLab by @grst on Mar 18, 2020, 15:42

Even though we cannot get all information from the `csv`, we should still support it - some of the public datasets do not provide the json files.

[2020-04-09 14:52] #33 closed, assigned to nobody

[2020-04-09 14:52] grst opened #34 "Make tutorial nice"
In GitLab by @grst on Mar 20, 2020, 18:16

null

[2020-04-09 14:53] grst opened #35 "Find better name"
In GitLab by @grst on Mar 20, 2020, 18:16

The current one, **sctcrpy** is hard to pronounce and remember.

Also it would be nice if the name left the option to expand to BCRs later on.

`imm`, `sc`, `py`, `receptor`, `cr`, ... ??

[2020-04-09 14:54] #35 closed, assigned to nobody

[2020-04-09 14:54] grst opened #36 "STARTRAC indexes"
In GitLab by @grst on Mar 20, 2020, 18:17

Maybe also the STARTRAC indexes could be of interest: https://www.ncbi.nlm.nih.gov/pubmed/30479382

[2020-04-09 14:54] grst opened #37 "Assure there are legends and axis labels for all plots"
In GitLab by @grst on Mar 20, 2020, 18:19

- [ ] ... and that they are legible
- [ ] I would try to have always a title on the color legend to be very clear about what is visualized

![image](/uploads/f2abfd6899105adc243cb920adfd3a46/image.png)

[2020-04-09 14:54] grst opened #38 "Scale up TCR-dist"
In GitLab by @grst on Mar 20, 2020, 18:26

null

[2020-04-09 14:54] #38 closed, assigned to grst

[2020-04-09 14:54] grst opened #39 "Improve network plots"
In GitLab by @grst on Mar 20, 2020, 18:27

null

[2020-04-09 14:55] #39 closed, assigned to grst

[2020-04-09 14:55] grst opened #40 "Improve documentation"
In GitLab by @grst on Mar 20, 2020, 18:35

- [x] citations are not rendered correctly atm.

### API docs
In particular, double-check all docstrings for

 - [x] correct formatting
 - [x] completeness
 - [x] understandabliness (does that work even exist?)
 - [x] proper citation of other methods

**At that occation**:
 - [x] make sure all functions have sensible default parameters

### General docume

[2020-04-09 14:55] grst opened #41 "Unit-tests for TCR-dist"
In GitLab by @grst on Mar 21, 2020, 11:45

null

[2020-04-09 14:55] #41 closed, assigned to grst

[2020-04-09 14:55] grst opened #42 "Encode distance in edge thickness"
In GitLab by @grst on Mar 21, 2020, 13:32

null

[2020-04-09 14:55] #42 closed, assigned to grst

[2020-04-09 14:56] grst opened #43 "Scatter Plots"
In GitLab by @grst on Mar 27, 2020, 09:46

Everyone seems to use these scatterplots:
![image](/uploads/f9727eb1f8e25d6e6ac91c12ee979a86/image.png)

Possible interface
[code]

[2020-04-09 14:56] grst opened #44 "make `target_col` optional in `group_abundance`."
In GitLab by @grst on Mar 27, 2020, 14:14

null

[2020-04-09 14:56] #44 closed, assigned to grst

[2020-04-09 14:56] grst opened #45 "Fix vdj_usage plot"
In GitLab by @grst on Mar 28, 2020, 12:18

null

[2020-04-09 14:56] #45 closed, assigned to nobody

[2020-04-09 14:56] grst opened #46 "Repertoire overlap"
In GitLab by @szabogtamas on Mar 30, 2020, 07:05

Add possibility to analyse the overlap of the samples based on the clonotype network.
What I would picture here is a heatmap of pairwise Hamming distances, where the binary string is the presence or absence of a given sample in a clonotype cluster.
Could not find a relevant function in Scanpy, but it does not seem very complicated with `scipy.spati

[2020-04-09 14:57] #46 closed, assigned to nobody

[2020-04-09 14:57] grst opened #47 "Test that read_10x_vdj and read_10x_vdj_csv result in the same data matrix."
In GitLab by @grst on Mar 30, 2020, 14:53

null

[2020-04-09 14:57] grst opened #48 "upload on GitHub, PyPI and Bioconda"
ToDo CI:

- [x] test python
- [x] test docs
- [x] publish docs to github pages (master branch); potentially other branches to sub-directory
- [x] publish to pypi on release
- [x] pypi package cache

[2020-04-09 14:57] grst opened #49 "Make a few dependencies optional"
In GitLab by @grst on Mar 31, 2020, 10:23

null

[2020-04-09 14:57] #49 closed, assigned to nobody

[2020-04-09 14:57] grst opened #50 "performance optimizations"
In GitLab by @grst on Mar 31, 2020, 13:30

null

[2020-04-09 14:57] #50 closed, assigned to grst

[2020-04-09 14:58] grst opened #51 "Straightforward way for getting most abundant categories"
In GitLab by @grst on Mar 31, 2020, 16:52

We need it regulary to get the top n of a category, e.g. v-gene or clonotype.

This can be achieved in a pandas onliner, if one knows how to do it...

[code]

It would be more user-friendly to have a convenience function to this,
for instance:

[code]

or maybe even more flexible
[code]
Use it for plotting:
[code]

@szabogtamas, what do you think of this

[2020-04-09 14:58] grst opened #52 "Clonotype dotplot"
In GitLab by @grst on Mar 31, 2020, 16:56

Scanpy has the dotplot with dendrogram for genes, which I find pretty cool. I would imagine it a good chance to get some overview on the whole dataset to show samples, top clonotype, the size of those clonotypes and either the expansion or the publicness/privateness of that clonotype (later, when we have a nice measure for that)

![image](/uploads/e03fc54

[2020-04-09 14:58] grst opened #53 "List of improvements for big datasets"
- [ ] speed up group_abundance
- [ ] alignment dist as CLI that reada and writes `anndata` -> to be able to submit this easily to a cluster
- [ ] parallelize chain pairing
- [x] increase chunk size in multiprocessing (less IOwait for pickling... maybe can reduce the amount of data sent to each worker)
- [x] sensible defaults for graph layout. How would force atlase work?
- [x] increase point size

[2020-04-09 14:58] grst opened #54 "Query epitope databases"
In GitLab by @grst on Apr 2, 2020, 14:45

null

[2020-04-09 14:58] grst opened #55 "Clonotype overlap as Venn diagram?"
In GitLab by @grst on Apr 8, 2020, 15:26

null

[2020-04-09 14:59] grst opened #57 "Feat/plot alpha diversity - [merged]"
In GitLab by @grst on Jan 24, 2020, 14:52

_Merges feat/plot-alpha-diversity -> master_

[2020-04-09 14:59] #57 closed, assigned to nobody

[2020-04-09 14:59] grst opened #58 "Implement 10x and Tracer parser - [merged]"
In GitLab by @grst on Jan 30, 2020, 10:27

_Merges feat/parsers -> master_

[2020-04-09 14:59] #58 closed, assigned to nobody

[2020-04-09 14:59] grst opened #59 "Re-implement clonotype definition - [merged]"
In GitLab by @grst on Jan 30, 2020, 13:02

_Merges feat/tools -> master_

[2020-04-09 14:59] #59 closed, assigned to nobody

[2020-04-09 14:59] grst opened #60 "Testing and documenting IO functions. - [merged]"
In GitLab by @grst on Jan 30, 2020, 13:13

_Merges feat/test-io -> master_

[2020-04-09 14:59] #60 closed, assigned to nobody

[2020-04-09 14:59] grst opened #61 "Add unit-tests and improve docs for IO - [merged]"
In GitLab by @grst on Jan 31, 2020, 09:08

_Merges feat/test-io -> master_

[2020-04-09 15:00] #61 closed, assigned to nobody

[2020-04-09 15:00] grst opened #62 "Add plotting function for clonal expansion - [merged]"
In GitLab by @grst on Feb 2, 2020, 17:46

_Merges feat/plot-clonal-expansion -> master_

This PR adds a plotting function for clonal expansion.
It serves as a template for adding further plotting functions.

Also adds some unit tests for the tools that are already implemented.

[2020-04-09 15:00] #62 closed, assigned to nobody

[2020-04-09 15:00] grst opened #63 "Add new tools and plots to apidoc. - [merged]"
In GitLab by @grst on Feb 3, 2020, 09:17

_Merges gregor.sturm-master-patch-40954 -> master_

[2020-04-09 15:00] #63 closed, assigned to nobody

[2020-04-09 15:00] grst opened #64 "Add plots - [merged]"
In GitLab by @szabogtamas on Feb 5, 2020, 14:36

_Merges group_abundance -> master_

First implementation of all `obs`-based plots we need.

Fixes #14.

[2020-04-09 15:04] #64 closed, assigned to nobody

[2020-04-09 15:04] grst opened #65 "Feat/tcrdist - [merged]"
In GitLab by @grst on Feb 5, 2020, 17:43

_Merges feat/tcrdist -> master_

Implement and optimize TCR dist.

Fix #11.

[2020-04-09 15:04] #65 closed, assigned to nobody

[2020-04-09 15:04] grst opened #66 "Add vscode settings - [merged]"
In GitLab by @grst on Feb 12, 2020, 16:58

_Merges feat/vscode-settings -> master_

[2020-04-09 15:05] #66 closed, assigned to nobody

[2020-04-09 15:05] grst opened #67 "Fix issue in read_tracer when cell does not contain chains - [merged]"
In GitLab by @grst on Feb 13, 2020, 14:49

_Merges fix/read_tracer -> master_

[2020-04-09 15:05] #67 closed, assigned to nobody

[2020-04-09 15:05] grst opened #68 "Support alternative clonotype definition. - [merged]"
In GitLab by @grst on Feb 13, 2020, 16:11

_Merges feat/clonotype_definition -> master_

[2020-04-09 15:05] #68 closed, assigned to nobody

[2020-04-09 15:06] grst opened #70 "Plot overhaul - [merged]"
In GitLab by @grst on Mar 2, 2020, 14:21

_Merges feat/plot-overhaul -> master_

This PR aims at addressing issues in %"plot overhaul".

- [x] Simplify and restructure tools (Don't add to `uns` when inexpensive, Fixes #25)
- [x] Rudimentary support for figure themes (atm, only a `default` theme is supported, but can be extended easily, Fixes #18)
- [ ] Simplify and restructure plots

Plot checklis

[2020-04-09 15:07] #70 closed, assigned to grst

[2020-04-09 15:07] grst opened #71 "Implement 10x csv parsing. - [merged]"
In GitLab by @grst on Mar 18, 2020, 17:38

_Merges feat/parse_10x_csv -> master_

Fixes #33.

[2020-04-09 15:07] #71 closed, assigned to nobody

[2020-04-09 15:07] grst opened #72 "Distance-based clonotype definition - [merged]"
In GitLab by @grst on Mar 18, 2020, 17:40

_Merges feat/tcr-dist2 -> master_

Provide a first working implementation to define clonotypes via networks and to visualize them.

Other than that:
* Implement Levenshtein distance (Fix #32).

[2020-04-09 15:08] #72 closed, assigned to nobody

[2020-04-09 15:08] grst opened #73 "Dataset module and documentation - [merged]"
In GitLab by @grst on Mar 19, 2020, 17:44

_Merges feat/datasets -> master_

[2020-04-09 15:09] #73 closed, assigned to nobody

[2020-04-09 15:09] grst opened #74 "Add igraph dependency - [merged]"
In GitLab by @grst on Mar 20, 2020, 18:23

_Merges fix/igraph-dep -> master_

[2020-04-09 15:09] #74 closed, assigned to nobody

[2020-04-09 15:09] grst opened #75 "Update .travis.yml - [merged]"
In GitLab by @grst on Mar 20, 2020, 18:47

_Merges patch-1 -> master_

[2020-04-09 15:09] #75 closed, assigned to nobody

[2020-04-09 15:09] grst opened #76 "Add pycairo requirement for docs - [merged]"
In GitLab by @grst on Mar 20, 2020, 18:58

_Merges patch-2 -> master_

[2020-04-09 15:10] #76 closed, assigned to nobody

[2020-04-09 15:10] grst opened #77 "Scale up TCR dist - [merged]"
In GitLab by @grst on Mar 23, 2020, 11:25

_Merges feat/sparse-dist -> master_

Fix #38.
Fix #41.

Also
 - [x] paralellize Levenshtein

[2020-04-09 15:10] #77 closed, assigned to nobody

[2020-04-09 15:10] grst opened #78 "Update LICENSE - [merged]"
In GitLab by @grst on Mar 24, 2020, 19:05

_Merges patch-1 -> master_

[2020-04-09 15:10] #78 closed, assigned to nobody

[2020-04-09 15:10] grst opened #79 "Vdj plot - [merged]"
In GitLab by @szabogtamas on Mar 25, 2020, 19:57

_Merges vdj_plot -> master_

Added a much faster version of #24
Fixes #24.

Test cases need to be added yet.

[2020-04-09 15:14] #79 closed, assigned to nobody

[2020-04-09 15:14] grst opened #81 "Update code to "scirpy" name - [merged]"
In GitLab by @grst on Mar 26, 2020, 15:37

_Merges feat/new-name -> master_

Fixes #35

[2020-04-09 15:14] #81 closed, assigned to nobody

[2020-04-09 15:14] grst opened #82 "Improve tutorial - [merged]"
In GitLab by @grst on Mar 27, 2020, 12:33

_Merges feat/improve-tutorial -> master_

Working towards #34

[2020-04-09 15:15] #82 closed, assigned to nobody

[2020-04-09 15:15] grst opened #83 "Improve tutorial - [merged]"
In GitLab by @grst on Mar 29, 2020, 09:38

_Merges feat/improve-tutorial -> master_

Working towards #34

[2020-04-09 15:15] #83 closed, assigned to nobody

[2020-04-09 15:15] grst opened #84 "Improving tutorial - next round - [merged]"
In GitLab by @grst on Mar 30, 2020, 11:14

_Merges origin/feat/improve-tutorial2 -> master_

Working towards #34 .

[2020-04-09 15:15] #84 closed, assigned to nobody

[2020-04-09 15:15] grst opened #85 "Improve tutorial - [merged]"
In GitLab by @grst on Mar 30, 2020, 17:48

_Merges origin/feat/improve-tutorial2 -> master_

Working towards #34

[2020-04-09 15:16] #85 closed, assigned to nobody

[2020-04-09 15:16] grst opened #86 "Update tutorial - [merged]"
In GitLab by @grst on Mar 31, 2020, 08:52

_Merges feat/improve-tutorial3 -> master_

[2020-04-09 15:16] #86 closed, assigned to nobody

[2020-04-09 15:16] grst opened #87 "Fix #49 - [merged]"
In GitLab by @grst on Mar 31, 2020, 12:24

_Merges fix/49 -> master_

[2020-04-09 15:16] #87 closed, assigned to nobody

[2020-04-09 15:16] grst opened #88 "Speed optimizations for 100k cells - [merged]"
In GitLab by @grst on Apr 1, 2020, 14:02

_Merges feat/speed -> master_

Makin proper use of sparse matrices

[2020-04-09 15:17] #88 closed, assigned to nobody

[2020-04-09 15:17] grst opened #89 "Various optimizations - [merged]"
In GitLab by @grst on Apr 3, 2020, 08:28

_Merges feat/optimizations -> master_

that are necessary to properly run the 100k case study.

- tcr_neighbors has now an 'all' mode for both dual-tcr chains and receptor arms
- tcr_neighbors is now extensively tested
- tcr_neighbors can also be computed on nucleotide sequences
- clonotype_network is now computed using `squarify` instead of `rpack`
- clon

[2020-04-09 15:17] #89 closed, assigned to nobody

[2020-04-09 15:17] grst opened #90 "WIP: Resolve "Repertoire overlap" - [closed]"
In GitLab by @szabogtamas on Apr 4, 2020, 15:24

_Merges 46-repertoire-overlap -> master_

Closes #46

[2020-04-09 15:17] #90 closed, assigned to nobody

[2020-04-09 15:17] grst opened #91 "Fix bug in IO that didn't properly flag multichain cells - [merged]"
In GitLab by @grst on Apr 4, 2020, 19:11

_Merges fix/io-multichain -> master_

[2020-04-09 15:18] #91 closed, assigned to nobody

[2020-04-09 15:18] grst opened #93 "Take colors from `adata.uns` when plotting categoricals in group abundance. - [merged]"
In GitLab by @grst on Apr 6, 2020, 11:25

_Merges group_abundance_colors -> master_

[2020-04-09 15:19] #93 closed, assigned to nobody

[2020-04-09 15:20] grst opened #95 "Group abundance sort - [merged]"
In GitLab by @grst on Apr 8, 2020, 13:28

_Merges group-abundance-sort -> master_

add sort parameter to group abundance.
color spectratype by the colors from adata.uns

[2020-04-09 15:20] #95 closed, assigned to nobody

[2020-04-10 06:15] grst opened #97 "CI improvements"
- [x] enable pip cache
- [ ] store a docs version for each release

https://sphinxcontrib-versioning.readthedocs.io/en/latest/tutorial.html

- [ ] Add some sort of automated linting. E.g. scanpy uses https://app.codacy.com/welcome

[2020-04-10 10:03] grst opened #101 "Upload to Bioconda"

[2020-04-10 10:03] #48 closed, assigned to nobody

[2020-04-10 12:49] #4 closed, assigned to nobody

[2020-04-10 12:49] #10 closed, assigned to nobody

[2020-04-10 13:20] #31 closed, assigned to nobody

[2020-04-14 08:00] grst commented on #34
#107 closes most points. But of course improving and keeping the tutorial up-to-date is a continuous process.

[2020-04-14 08:05] grst opened #108 "Add glossary to documentation"
Could be integrated with our page about the "TCR-model"

[2020-04-14 08:07] #34 closed

[2020-04-14 10:11] grst commented on #47
Tested it locally and it works as of #109.
Don't want to include it in the test suite because
 * the files I currently have available are unpublished
 * it significantly increases the repo size.

[2020-04-14 10:15] #47 closed

[2020-04-14 11:26] grst opened #110 "Documentation of data structure"
Make an own section in the docs with the notes from the tutorial.

(page usage principles ?)

Should contain
 * columns added to `adata.obs` and their meaning
 * keys added to `obsm` and `uns` when constructing the clonotype network.

Also include
 * How to load data from arbitrary csv files using pandas.
 * go through TCR objects for that purpose and expose the function that converts TCR objects

[2020-04-14 21:00] rsggsr opened #111 "Load data error"
Hi,

I just found this interesting tool based on scanpy! Previously we dig with our scRNAseq data in Seurat and with PAGA for pseudotime. We need further for the immune part and found this may be useful.

However, I encounter some problems even just try to see how this tool performs. While I try to follow the tutorial but fail importing data example (dataswts.wu2020_3k()). Please see below. It wou

[2020-04-15 06:16] grst commented on #111
Hi @rsggsr,

thanks a lot for reporting this!

I suspect that you use an older version of `anndata` and/or `scanpy` than I used for generating the dataset. Can you please try to update?

[code]

or

[code]
should do the trick.

If that is the case, I should update the minimal version requirements accordingly.

[2020-04-15 10:26] rsggsr commented on #111
Hi @grst ,

Thanks! It works!

But I just found out that the tool was designed for VDJ sequencing (scTCRseq) but not for simple scRNAseq data. Since actually we only got scRNAseq data, so this one maybe too fancy to us. But do you think like computational one (I found one shown below) would help us? Thanks!

Single-cell TCRseq: paired recovery of entire T-cell alpha and beta chain transcripts in T

[2020-04-15 10:41] grst commented on #111
If you have scRNA-seq data where the full-length transcript has been captured (e.g. Smart-seq2) you can use [TraCeR](https://github.com/Teichlab/tracer) to reconstruct the VDJ information and
load the results into `scirpy`. You can use this [nextflow pipeline](https://github.com/nf-core/smartseq2) to process the data.

If you have 10x data without VDJ information, there's (to my knowledge) no way

[2020-04-15 10:52] rsggsr commented on #111
Hi, @grst,

We used CellRanger 10X data....
But still thanks for your time! It's a cool tool and easy-to-follow tutorial.

[2020-04-15 10:55] grst commented on #111
Too bad :/

Anyway, thanks for reporting the data-loading issue. I now updated the minimal version requirements (#112), s.t. other users should not  encounter this problem any more.

[2020-04-15 10:55] #111 closed

[2020-04-16 06:46] #101 closed

[2020-04-16 12:53] grst commented on #97
This seems more promising:
https://holzhaus.github.io/sphinx-multiversion/master/quickstart.html

sphinxcontrib-versioning is not compatible with sphinx >=2

[2020-04-16 20:06] jfx319 opened #114 "Some comments & suggestions"
@grst  What a great tool, very much needed and appreciated! Thank you.

Towards making this better still and more enduring (including for VDJ biologists), I have a few comments/suggestions:

### A) "public" vs "private" clone
Historically, T-cell biologists use these terms for comparing between 2 person's repertoire (see [Turner et al 2006 review](https://www.nature.com/articles/nri1977)), not bet

[2020-04-17 09:11] grst opened #116 "advanced doublet / chain-category calling"
@jfx319 wrote:

At least several factors affect observed categories:
- allelic exclusion (alluded to in your "T-cell receptor model", but note the intrinsic bias of beta vs alpha chain rearrangement; gamma-delta adds further complexity but we'll ignore this for now since many scRNAseq assays do not target these chains)
- contributing to but distinct from the signal dropout, differential expression

[2020-04-17 09:11] grst commented on #114
Hi @jfx319,

thanks for your extensive feedback, we appreciate it a lot!

### A) public vs. private
I agree that it's better to stick with the historical meaning of "private" and "public" clonotypes and
come up with a new terminology for clonotypes shared between tissues of the same patient.

In the publication of [Wu et al.](https://www.nature.com/articles/s41586-020-2056-8) they use "dual-expand

[2020-04-20 14:02] grst commented on #12
Possibly also include V & D genes into sequence logo.

Example from Dash et al. (2017):
![image](https://user-images.githubusercontent.com/7051479/79760315-320b1280-8320-11ea-915e-506ae0234939.png)

[2020-04-22 19:35] taopeng1100 opened #121 "scirpy.read_10x_vdj(path, filtered=True)"
Hi I like to read multiple "filtered_contig_annotations.csv" files from 10x; how can I do this in scirpy.read_10x_vdj?

Thx,

Tao

[2020-04-22 20:55] grst commented on #121
Hi Tao,

you can read them in a loop and concatenate them.
It works the same way as for `adata` files without TCR information, see the solution here:
https://github.com/theislab/scanpy/issues/267

Hope that helps and let me know if you have further problems!

Best,
Gregor

[2020-04-22 22:11] taopeng1100 commented on #121
Thx! I will try it.

From: Gregor Sturm <notifications@github.com>
Sent: Wednesday, April 22, 2020 1:56 PM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] scirpy.read_10x_vdj(path, filtered=True) (#121)

Hi Tao,

you can read them in a loop and concatenate them.
It works the same way as for adata

[2020-04-28 09:55] grst commented on #97
Readthedocs now supports builds on PRs, so we probably want to switch back to that.

https://blog.readthedocs.com/building-docs-for-pull-requests/

[2020-04-28 18:23] #97 closed

[2020-04-29 07:13] #108 closed

[2020-05-03 07:58] grst commented on #53
Maybe this can be abused to compute Levenshtein distance in linear time:
https://github.com/wolfgarbe/SymSpell

and/or to prefilter which alignments to compute

[2020-05-04 13:05] JLTrincado commented on #121
Dear authors,

I'm using the solution proposed here for loading multiple 10x vdj files. For some reason, after concatenating some cells loses information. Here I load 2 files and concatenate them. Prior to concatenation, the shown cell has TRA_1_cdr3 region. After concatenating, the region has disappeared. What am I missing?

![image](https://user-images.githubusercontent.com/23315833/80968488-55e

[2020-05-04 13:33] grst commented on #121
Hi Juan,

could it be just the order of columns?
The concatenation seems to sort columns alphabetically, s.t. the `TRB_1_cdr3` column is hidden in the middle (`...`) or the pandas data frame.

Best,
Gregor

[2020-05-04 15:48] JLTrincado commented on #121
Hi again,

thanks for the quick reply. It wasn't because of the order in the columns, but thanks to that I realize it was my bad when calculating the TCR neighbors. I was using receptor_arms="all" instead of "any". That's why this cell didn't show up as clone.

Thanks again and congratulations for your work.
Best.

[2020-05-04 19:12] grst opened #125 "Utility functions to streamline scirpy workflow"
I found to do a few things repeatedly, which might deserve own scirpy functions (or function parameters):

- [ ] reading in data: multiple files at once in parallel
- [ ] removing cells that don't have a full pair of receptors (they tend to clutter the clonotype plot, as they fall below the threshold more easily). **OR:**: define distance for each of the receptor arms independently.

This is an on

[2020-05-18 09:26] grst opened #126 "Simplify clonotype networks"
Instead of showing "blobs" of cells,
we could abstract cells of the same sequence as a single node with the node size representing the number of cells.

Variables (such as patient, cell-type etc. could then be overlayed as a pie-chart).

cf., for instance, the scanpy plots of PAGA.

[2020-05-19 08:43] grst opened #127 "Improve clonotype overlap function"
Need to go through it again... for instance, respect the color palettes stored in AnnData.

[2020-05-19 08:53] grst opened #128 "Missing tqdm when installing through conda"
I used the conda installation procedure as listed here:

[code]
I could resolve this by

[code]

Could this be needed to be included in the conda recipe?

[2020-05-19 08:59] grst commented on #128
- [ ] check conda recipe
- [ ] create CI test for conda

[2020-05-19 09:04] grst opened #129 "clonotype_imbalance not found in conda package."
- Another thing I encountered was the following, when trying out the full run of the tutorial with the 3k subset of data
[code]
Looks like the function is not found?
Double checking with conda, the recipe is correctly listed in its version, but is not displayed when printing the info in the console.

[2020-05-19 09:05] grst commented on #129
might simply note have been part of the last release. Will make sure it's in the next one.

[2020-05-19 09:06] grst commented on #121
@taopeng1100, I will close this now. Let me know if you have further issues.

[2020-05-19 09:06] #121 closed

[2020-05-19 09:21] grst opened #130 "Allow to include V gene in clonotype definition."
See also #114.

[2020-05-19 09:32] grst opened #131 "add sample images for plotting functions"
Similar to https://scanpy.readthedocs.io/en/stable/api/scanpy.plotting.html

[2020-05-19 10:58] grst opened #132 "Support for BCR"
# BCR support meta issue.

## Initial PR #183 addresses:
- [x] change datastructure

 * Instead of `TRA_1`, `TRA_2`, `TRB_1` and `TRB_2` have `arm1_primary`, `arm1_secondary`, `arm2_primary` and `arm2_secondary`
 * have additional 4 columns: `arm1_primary_type`, ...; These can accept values such as `TRA`, `TRB`, `TRG`, `TRD`, `IGH`, `IGL` (see [AIRR locus names](https://docs.airr-community.org/en/

[2020-05-19 18:15] grst opened #133 "Use anndata obsp for graphs"
The latest version of anndata has improved support for pairwise information (graphs)
and has deprecated storing such information in adata.uns.

This is possible with AnnData >= 0.7, which we have as a minimal
requirement.

https://github.com/theislab/anndata/commit/be337a8733e8127d96ba4aabac46711fe77e7927

[2020-05-22 07:27] grst opened #134 "consistent coloring of plots"
Scanpy stores color palettes for each column in anndata and uses the colors throughout the different plotting functions.

In particular:
 - [ ] spectratype
 - [ ] heatmap

I already adapted this for some functions, e.g.
https://github.com/icbi-lab/scirpy/blob/6304bdba85a238cced44666bbbe7572b19514737/scirpy/_plotting/_group_abundance.py#L66-L73

but this should be done everywhere.

Also, in the abo

[2020-05-22 08:24] grst opened #135 "get rid of monkey patches"
Some 'quick fixes' that add functionality to scanpy that
isn't officially supported are ok for quickly getting things up and running, but should be phased out. They carry the risk that future modifications to scanpy break something.

Instead I should propose the changes upstream to scanpy and create appropriate PRs.

[2020-05-22 08:58] grst commented on #40
All todos have been addressed in #124 or been migrated into their own issues.

[2020-05-22 08:58] #40 closed

[2020-05-22 11:35] grst commented on #128
Ideally this was fixed upstream in scanpy (https://github.com/theislab/scanpy/issues/1244).
Until then, will require minimal version of tqdm in scirpy.

[2020-05-22 12:05] #128 closed

[2020-05-22 12:05] #129 closed

[2020-05-23 13:14] bio-liucheng opened #137 "clonotype_network ERROR"
Hi developer,

I followed the wu2020_3k tutorial and came out with this error.

[code]

Here are my packages versions:
[code]

I run this tutorial on windows. In the previous version (v0.1.2), it was no problem to run these codes.

How can I fix this?

Thank you.

[2020-05-23 20:15] grst commented on #137
Hi @bio-liucheng,

thanks for reporting this!

I believe the reason you could previously run this without errors is that the default layout changed from `fr` to `components`.
Could you please try to run
[code]
to verify if this is the case?

---
But, of course, the `component` layout should work for you, too.
Could you please report the following values right before running `clonotype_network`?
[c

[2020-05-24 01:07] bio-liucheng commented on #137
Hi Gregor,

Thank you for your reply!

Here are my reports and codes

[code]

It worked when I set `layout='fr'` and report errors using the default.

Best,
Cheng

[2020-05-25 09:45] grst commented on #137
Hi Cheng,

unfortunately, I was not able to reproduce your issue.

For futher investigation, could you please try the following/provide the following information:
 * delete the `data` folder and the `wu2020_3k.h5ad` within (it will automatically re-download). It could simply be that you have an old version of the data.
 * Do you *exactely* run the commands from the tutorial, in the same order, or

[2020-05-25 14:16] grst commented on #110
## Some comments/spelling issues on the tutorial document
  - "we re-analize" -> re-analyze
  - "load it from the `dataset` module -> `datasets` (as in the code below)
  - "amino acoid" -> amino acid
  - "We will just use the provided data" -> Is there some documentation on how this dataset itself was generated? Where is this stored when the function is called?
  - "The lower three panels" - the f

[2020-05-26 06:10] #131 closed

[2020-05-26 11:40] grst opened #141 "update case study"
## re-run with optimized code
...

## Some comments/spelling issues on the tutorial document
  - "we re-analize" -> re-analyze
  - "load it from the `dataset` module -> `datasets` (as in the code below)
  - "amino acoid" -> amino acid
  - "We will just use the provided data" -> Is there some documentation on how this dataset itself was generated? Where is this stored when the function is called?

[2020-05-26 12:50] #110 closed

[2020-05-26 13:46] bio-liucheng commented on #137
Hi Gregor,

Sorry for bothering you about this issue. Finally, I solved this problem. Maybe the environment conflicts between packages.

When I use `pip freeze`, some warning reported.

[code]

So I used conda to create a new environment and reinstall scirpy. It is successfully running as the tutorial described. Scirpy is a very powerful package to manage TCR data!

Thanks for your help again.

Be

[2020-05-26 13:54] grst commented on #137
Glad you found a solution! There really seems to be something wrong with that environment...

Feel free to contact me again if you encounter issues or have suggestions!

Best,
Gregor

[2020-05-26 13:54] #137 closed

[2020-05-29 14:27] grst opened #145 "Comply to AIRR standards"
It would be great if scirpy complied to AIRR standards:
https://docs.airr-community.org/en/latest/swtools/airr_swtools_checklist.html
 * We actually fulfil most of the requirements already (automated testing, containerization, ...).
 * We do not have data loading functions for AIRR data.

So far, I have not seen AIRR-compliant single-cell data in the wild.
It also seems that the single-cell format

[2020-05-29 15:28] grst opened #146 "rename define_clonotypes into define_clonotype_clusters"
A clonotype is usually referred to as cells with exactly the same nucleotide sequence. We should not call "clonotype clusters" consisting of cells with multiple clonotypes that might recognize the same antigen an "clonotype".

- [ ] Keep both as an alias with different default parameters?
- [ ] Update Glossary
- [ ] Update terminology in tutorial/case study.

[2020-05-29 16:00] grst commented on #145
cf. https://github.com/airr-community/airr-standards/issues/411

[2020-05-31 16:04] grst commented on #53
Consider storing clonotype x clonotypes matrices rather than cell x cell matrices.
This could save a lot of space & computation time
The clonotype network plot would then be updated to show a single dot per
clonotype (potentially connected into clusters), where the size represents the number of cells.

[2020-06-01 09:41] #130 closed

[2020-06-01 13:28] #145 closed

[2020-06-03 08:15] #127 closed

[2020-06-03 08:15] #134 closed

[2020-06-03 13:02] #146 closed

[2020-06-04 09:46] grst opened #155 "heatmap annotations are mixed up"
![image](https://user-images.githubusercontent.com/7051479/83741677-cc1ce500-a658-11ea-8f9b-4d8a438b2412.png)

`L` in the samle annotation stands for "Lung"

I supposed it's due to unsupervised clustering shuffling the labels.

[2020-06-04 11:33] grst opened #156 "Restructure repertoire overlap functions"
I suggest to restructure the repertoire overlap functions a little:

- [ ] split up heatmap and pairwise plot into two plotting functions
    * e.g. `repertoire_overlap_heatmap` and `repertoire_overlap_pairwise`. Like that  it's clearer what they do and they can be show in the API with two separate images

- [ ] make it more transparent what the `tool` stores. Maybe store the parameters in uns to

[2020-06-04 12:32] #155 closed

[2020-06-04 15:26] grst opened #160 "Refactor clonotype_imbalance"
Analogous to #156, at some point

- [ ] make volcano and dotplot a different function
- [ ] make clear what is computed by the tool and what on-the-fly
- [ ] more compact representation for dotplot, potentially a heatmap could work.

[2020-06-05 05:48] #141 closed

[2020-06-05 06:11] grst opened #161 "Reduce repository size"

[2020-06-05 08:45] grst opened #162 "Interactive plotting"
The suggestion was brought up to build an interactive version
of the `vdj_usage` sankey plot, to appreciate less abundant gene combinations
by hovering over the respective segments.

While this single interactive plot could probably be straightforwardly solved
implementing either
 * the [plotly example](https://plotly.com/python/sankey-diagram/) or
 * the [vega example](https://www.elastic.co/blog

[2020-07-09 18:15] sheetalgiri opened #163 "Only getting distances 0's or 1's when using cutoff<100 while using the Distance Calculators"
I wanted to calculate the minimum distance for going from samples in one dataset to another. Is there something I'm doing wrong or should I use a higher cutoff? Or a better way to do what I want to do?

[2020-07-09 18:42] grst commented on #163
Hi @sheetalgiri,

I suspect you are using the `identity` metric. This metric will ignore the cutoff.

Try setting `metric='alignment'` for getting a BLOSUM62-based distance, or `levenshtein` for the edit-distance.

Cheers,
Gregor

[2020-07-10 03:44] sheetalgiri commented on #163
Thanks for replying @grst . I'm actually getting this result also when I try to use the alignment metric. In the documentation for it, you tell that a cutoff>14 is not a good idea. For me, this metric only seems to return anything other than 0 or 1's for cutoff>100

[2020-07-10 07:33] grst commented on #163
What kind of data is this? Your sequences are significantly longer than the usual CDR3 sequences, which are ~10-17aa.

With longer sequences, higher cutoff values may make sense. The sequences do look quite different, so they for sure won't have an alignment distance < 14, therefore they receive a distance of 0 ("no edge in graph").

The definition of the alignment distance is documented [here](ht

[2020-07-10 08:34] sheetalgiri commented on #163
thanks for pointing that out. it seems that the sequences being of different lengths is also making a difference. I just checked and noticed the sequences are length 28 on average, the shortest is of length 17 and longest of length 50!

[2020-07-15 14:13] #163 closed

[2020-07-15 15:57] grst opened #164 "make `dual_tcr` option more prominent."
Apparently, it is not evident to users that there are other options than the default, `primary_only`.

* It might be worth considering changing the standard to `any`.
* In any case, make it more prominent in the documentation that this option exists (tutorial + apidoc).

[2020-07-29 10:10] ktpolanski commented on #132
Leaving a line here in case public support can help prioritise development. VDJ analysis is not quite as standardised, it would be great to have a single well-documented package to handle both TCRs and BCRs.

[2020-07-29 11:17] grst commented on #132
Hi @ktpolanski,

thanks for your comment! BCR support is definitely THE next thing on the list, atm I'm just a bit overloaded with other tasks.

Can you, by any chance, recommend a good (publicly available) example dataset with single-cell BCR data that we could use to build the tutorial?

Cheers,
Gregor

[2020-07-30 12:35] grst opened #165 "Allow to compute tcr_dist with two sets of sequences."
Currently, tcr_dist always computes a square matrix.

However, it can be useful to compute a rectangular matrix of e.g. CDR3 sequences from the `adata` object vs an external database.

[2020-08-03 08:20] #165 closed

[2020-08-03 11:39] grst opened #169 "fix docs"
Since the latest rebuild of docs, the API documentation suddenly looks weird:

![image](https://user-images.githubusercontent.com/7051479/89178835-cb3bfd00-d58e-11ea-8119-ff67a88921cd.png)

Also the build breaks with the latest version of sphinx, see f1a185a77191eeb90b5f58630a327d07aa21a304

[2020-08-03 17:16] #23 closed

[2020-08-04 11:31] grst opened #170 "fix parallelism of alignment distance"
This seems to be a regression introduced in #165.

When running the alignment distance (with one array of sequences) with a lot of cores (e.g. 32) only ~6 cores do work, while the others idle.

[2020-08-04 12:20] grst commented on #132
@szabogtamas, @FFinotello, @ktpolanski

Do you guys have any suggestions on how to name the columns for BCR support?

At the moment we have:
 * TRA_1_<attr>/TRA_2_<attr>: columns related to the primary and secondary TCR-alpha chain
 * TRB_1_<attr>/TRB_2_<attr>: columns related to the primary and secondary TCR-beta chain
where `<attr>` is `c_gene`, `v_gene`, `cdr3`, `cdr3_nt`, etc.

This obviously

[2020-08-04 13:47] grst commented on #53
I tried to compute edit distance with [symspellpy](https://github.com/mammothb/symspellpy), but is actually 3x slower than the current levenshtein implementation. The reason for this is probably that the Levenshtein package is a highly optimized C library, while symspellpy is a pure python port of the SymSpell library.
Would need a Python wrapper for C SymSpell for max performance.

[2020-08-04 18:54] #170 closed

[2020-08-06 07:00] crushseven-7 opened #173 "Loading scBCRseq data"
I am handling scTCRseq and scBCRseq at the same time. `scirpy` is a really friendly package for integrated scRNAseq and scTCRsesq. But I can not combine scBCRseq data with scRNAseq, cause it filtered IG gene durning combine two object. Is there a plan for compatibility with scBCRseq data?

[2020-08-06 07:05] grst commented on #173
Hi @crushseven-7,

yes, we are working on it!
Feel free to join the discussion at https://github.com/icbi-lab/scirpy/issues/132.

In particular I'd appreciate comments on the naming conventions and would be glad about hints for suitable publicly available demo datasets with BCR data (combined BCR/TCR would be awesome, too).

[2020-08-06 07:05] #173 closed

[2020-08-06 07:42] crushseven-7 commented on #132
About naming header, in my opinion original headline is better than `receptor_arm`. Add a `chain` column might be better to distinguish whether it is IG or TR .

[2020-08-17 18:46] gt7901b opened #174 "errors while running ir.pp.tcr_neighbors"
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<timed eval> in <module>

~/.local/lib/python3.7/site-packages/scirpy/tcr_dist/__init__.py in tcr_neighbors(adata, metric, cutoff, receptor_arms, dual_tcr, key_added, sequence, inplace, n_jobs)
    806         sequence=sequence,
    807     )
--> 8

[2020-08-17 18:57] grst commented on #174
Hi,

thanks for reporting!
I *think* this happens when no distances are `< cutoff`.
This *should* be already fixed in the latest development version.

You can try installing it like this - I will make a release soon.
[code]

[2020-08-17 19:26] gt7901b commented on #174
thanks for fast reply. I installed dev version but still got the same error.

[2020-08-17 19:28] grst commented on #174
Ok, I'll investigate this week.

[2020-08-19 15:32] massonix commented on #132
Dear scirpy team,

Thanks a lot for developing this amazing tool. I am also highly interested in a tutorial for scBCR-seq. Perhaps one good dataset to illustrate its usage could be found [here](https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-9003/). It comes from [this paper](https://www.biorxiv.org/content/10.1101/2020.04.28.054775v2.full.pdf) by Hamish W. King , et al. in which they analyz

[2020-08-19 16:19] massonix commented on #132
In fact, it'd be awesome if scirpy could infer 3 properties from BCRs that are studied in the paper I shared in the previous comment:

- Clonotype
- Antibody class
- Somatic hypermutation status

I guess clonotype can be assigned in a similar manner to TCR-seq. Antibody class is easily facilitated by the "c_gene" column in "filtered_contig_annotations.csv". Finally, somatic hypermutation might be

[2020-08-19 19:05] grst commented on #132
Hi Ramon,

thanks for your comments and for sharing that preprint. This is really helpful!
I'll be on holiday the next weeks, but will look into that end of September!

Best,
Gregor

[2020-08-20 12:07] massonix commented on #132
Hi Gregor,

It's my pleasure. Thanks for looking into it, I'm highly interested in analyzing scBCR-data using scirpy. I would be more than happy to beta test your software once you have preliminary data.

Best

Ramon

[2020-08-22 10:36] grst opened #175 "plot previews in documentation are broken"
While they work in the API overview, they don't on the detail page:

![image](https://user-images.githubusercontent.com/7051479/90954378-1cdff500-e474-11ea-8bde-8fa7a99cffd3.png)

[2020-08-23 12:08] grst opened #178 "Improve packaging"
* replace get_version, it is not actively maintained and there are more mature alternatives (e.g. setuptools-scm)
* https://github.com/theislab/scanpy/pull/1374/ demonstrates that quite some redundant information can be removed.

[2020-08-26 10:57] #178 closed

[2020-08-26 10:57] #175 closed

[2020-08-26 12:55] grst commented on #132
Just had a short discussion with @FFinotello on column names.

We currently propose the following naming scheme:

**Previous, only TCR alpha/beta support.**
 * `TRA_1`
 * `TRB_1`
 * `TRA_2`
 * `TRB_2`

**New, with BCR and gamma/delta T-cell support**
 * `IR_CHAIN1_PRI`
 * `IR_CHAIN1_PRI_locus`
 * `IR_CHAIN2_PRI`
 * `IR_CHAIN2_PRI_locus`
 * `IR_CHAIN1_SEC`
 * `IR_CHAIN1_SEC_locus`
 * `IR_CHAIN2_SEC

[2020-09-16 19:53] taopeng1100 opened #182 "Issues with installing SCIRPY"
I am trying to install Scirpy using anaconda/Jupyter on my desktop window.

**when I try this: conda install -c conda-forge -c bioconda scirpy

I go the error message:**

[code]

**THEN I tried this: pip install scirpy, I got another error message:**
[code]

[2020-09-20 10:37] grst commented on #182
Regarding the **conda installation**, I suspect that you are installing scirpy into an environment that already contains some packages which cause a version conflict.

Try to install scirpy into a new conda environment:
[code]

You can use different conda envs from jupyter. Check out [this answer on stackoverflow](https://stackoverflow.com/a/43197286/2340703).

---

Regarding the **pip installatio

[2020-09-22 09:21] grst opened #184 "Easy-access getter functions"
With the implementation of the new datastructure (#327), it becomes rather tricky to get information
from the airr rearrangment schema (e.g. what is the "c_call" of the primary "VJ" chain?).

Previously this was possible simply with
[code]

With the new datastructure
[code]
just yields an awkward array with a variable number of chains per cell. The information which
chain is VJ/VDJ and primary or

[2020-09-22 09:31] grst commented on #132
After some more thinking, we came up with even more intuitive column names:

**For the primary receptor:**
 * `IR_VJ_1` (receptor arm with the V-J junction, i.e. TRA, TRD, IGL, IGK)
 * `IR_VDJ_1` (receptor arm with the V-D-J junction, i.e. TRB, TRG, IGH)

**For the secondary receptor**:
 * `IR_VJ_2`
 * `IR_VDJ_2`

[2020-09-22 13:10] grst opened #185 "Support for CDR1 and CDR2"
With BCR support (#132) CDR1 and CDR2 gains importance as these regions are more variable in B-cells.

10x cell-ranger output does not provide these sequences. They can, however, be obtained by running Ig-blast on the fasta files provided by cellranger.

This is already handled well by the [changeo](https://changeo.readthedocs.io/) `AssignGenes.py` script. Change-o produces an AIRR-compliant file

[2020-09-22 14:24] grst opened #186 "Sort bar segments in pl.group_abundance"
Bar segments are currently sorted by their size.

They should either not be sorted (and take their natural ordering of the categorical), or introduce an additional argument that allows to sort not only the bars on the x axis but also the segments on the y axis.

[2020-09-28 10:18] grst commented on #53
Maybe WFA provides even better alignment performances than parasail?
https://github.com/smarco/WFA
Need to try it out at some point. In any case, we would need a python wrapper for that library first.

[2020-10-02 11:49] grst opened #190 "Consistent typing in adata.obs"
* Most columns added to `adata.obs` should probably be well-defined categoricals
* Booleans should be booleans / or categoricals, and not strings
* `nan` should be `nan` and not `"nan"`. Categoricals do support `nan`, but there was an issue with how this is implemented in `anndata`, maybe this needs to be fixed upstream.

[2020-10-02 11:57] grst opened #191 "Refactor CDR3-network construction."
Currently, we first build a `sequence` x `sequence` CDR3-similarity network. We then expand this network to a `cell` x `cell` similarity network.

Using a `cell` x `cell` similarity network is suboptimal. If there are highly expanded clonotypes (i.e. cells with the same CDR3 sequences), this leads to huge blocks in the matrix, that cannot be efficiently stored as a sparse matrix.

This issue propo

[2020-10-02 11:59] grst commented on #182
Feel free to reopen if the problem persists.

[2020-10-02 12:00] grst commented on #133
Superseeded by #191.

[2020-10-02 12:00] #133 closed

[2020-10-02 16:09] grst commented on #51
I'm currently in favor of creating a new module `scirpy.get` and using a single function that can be used for all columns:

[code]

[2020-10-05 13:19] grst opened #192 "sequence_dist() should support non-unique sequences"
sequence_dist() currently returns wrong results if the sequences are not unique. This is well documented,
but it should still be generalized to make it more useful and user-friendly.

Subsequently, the `component_layout` should work hand-in-hand with the python igraph package.

This makes workflows more straightforward, where sequence-based networks are used outside the context of immune-receptors

[2020-10-07 07:32] grst opened #193 "Figure style breaks multi-panel plots."

[2020-10-07 08:59] grst opened #194 "vdj_usage is broken with new data structure"
`vdj_usage` call in the 3k TCR tutorial:

![image](https://user-images.githubusercontent.com/7051479/95310028-2e4a5880-088c-11eb-935c-274475b6f1f9.png)

[2020-10-07 11:01] grst opened #195 "BCR-doc TODO"
- [ ]  Explain new terms in glossary more verbosely
 - [ ] update `receptor_model` page
 - [x] Review API doc for sonsistent term usage (IR instead of TCR...)

[2020-10-07 11:03] grst opened #196 "tool to infer somatic hypermutation status"

[2020-10-07 11:04] grst opened #197 "tool to infer antibody class"

[2020-10-07 11:13] grst opened #198 "Add BCR example dataset"
Possible example datasets:

 * [King et al](https://www.biorxiv.org/content/10.1101/2020.04.28.054775v2.full.pdf) 10x vdj. The VDJ information is available in processed form, but the counts would need to be processed from raw FASTQ files. The dataset contains T-cells, but 10x vdj seq has only been performed for B-cells.
* [Maynard et al](https://www.sciencedirect.com/science/article/abs/pii/S00928

[2020-10-07 11:15] grst opened #199 "BCR-tutorial"
Add a tutorial for BCR (or joint BCR/TCR analysis).

Either as additional tutorial, or replace the TCR tutorial as the main "getting started" tutorial.

The latter may make particularly sense, as we could show a joint BCR/TCR analysis.

[2020-10-07 11:22] grst commented on #132
Basic TCR support has now been added to the master branch.

I adapted the datastructure to support BCR-data and it should now possible to perform a clonotype-analysis with both B and T-cells. Most parts of the documentation have been updated to reflect the changes.

Things that don't work yet (see also top of this issue):
 - [ ] #194 vdj_usage is broken with new data structure
 - [ ] #197 function

[2020-10-07 11:24] grst commented on #30
Closed in favor of #198.

We will have a nice BCR Smart-seq2 dataset, I don't think there is an urgent reason to add more.

[2020-10-07 11:24] #30 closed

[2020-10-08 09:01] grst commented on #135
Download monkey patch fixed in #200.
plot edges monkey patch superseded by #191.

Closing this.

[2020-10-08 09:01] #135 closed

[2020-10-11 19:55] stefanpeidli opened #201 "ValueError in ir.tl.clonotype_network"
Hi Gregor,

I stumbled upon some ValueError when executing `ir.tl.clonotype_network`.

Essentially I do
[code]

Where the last function call outputs an error:
[code]

I figured that maybe there is something wrong with the contents of `adata.obs['clonotype']`. I checked and see 12179 different clonotypes for 12737 cells in there. Could that be the reason for the error?

Thanks in advance for you he

[2020-10-12 07:26] grst commented on #201
Hi Stefan,

thanks for reporting!
I believe this could occur if the clonotype network has no nodes. Did you use a `min_size` parameter in `clonotype_network`?

To investigate further, could you share the data with me, or at least the `clonotype` and `clonotype_size` columns of `adata.obs` and `adata.uns["tcr_neighbors_clonotype_identity"]`?

You can also send it to mail [AT] gregor-sturm [DOT] de,

[2020-10-12 07:55] stefanpeidli commented on #201
Thanks for your quick reply.

I did not use the `min_size` parameter in `clonotype_network`. I tried it again with `min_size=2`, but that did not fix the error.
In the meantime I have updated from 0.4.2 to indev version (0.4.3-something), to check if that fixes the issue (it didn't).

This is what the data looks like:

**adata.uns['ir_neighbors_nt_identity']**:
[code]

**adata.obs[['clonotype','cl

[2020-10-12 08:01] grst commented on #201
Ok, I've got another suspicion:

Could you try to subset to cells that have a TCR after running `merge_with_tcr`?
i.e. `adata = adata[adata.obs["has_tcr"] == "True", :]` (or "has_ir" in the latest dev version).

[2020-10-12 08:47] stefanpeidli commented on #201
Unfortunately, that did not fix it.

The problem seems to be in the util function `layout_components` gets a graph that has no components.
When checking `components = np.array(graph.decompose(mode="weak"))`, these are empty and consequently `np.vstack(component_layouts)[vertex_sorter, :]` returns an error, since `vstack` can not stack empty arrays.

The graph does not seem empty though, at least i

[2020-10-12 09:03] grst commented on #201
This is weird... I have igraph `0.8.2`, but I doubt that this is the problem.
Can you (privately) share your anndata object with me (as `h5ad`)? You can get rid of gene expression and also CDR3 sequences before sharing, I essentially just need the columns mentioned above.

[2020-10-12 09:20] stefanpeidli commented on #201
I've emailed the corresponding data to you.

[2020-10-12 10:53] grst commented on #201
Thanks a lot for the data!

I did literally
[code]

and it worked. Do you still encounter the issue with the same commands?
In that case it might really be an issue with one of the dependencies...

**Note 1**
I noted that all your clonotypes and clonotype sizes were `nan`, so I had to redefine them

**Note 2**
I used the latest development version of scirpy. 0.4.x should be excactely the same, but

[2020-10-12 11:45] stefanpeidli commented on #201
Strange, the exact same code still fails for me with the same error.

Also, if I read the exported data, both clonotypes and sizes are fine and not nan. So I think this might be due to either an old scanpy and/or anndata version. I updated both of them.

Now it seems that I have a new pandas version as well, which results in some weird error due to `adata.obs['clonotype_size']` being categorial. I

[2020-10-12 11:57] grst commented on #201
Really strange, let me know if you find out something! I also tried igraph 0.7.1 and it still works.

You could try with a clean conda environment to check if it could be a dependency issue:
[code]

[2020-10-12 14:07] stefanpeidli commented on #201
It seems to work now :)
Apparently the old scanpy/anndata version was the issue. My jupyter kernel just did not reload the packages accordingly on my local machine. Now it works also on windows.

Thanks for your help!
Btw I really like this package. Keep up the great work!

[2020-10-12 14:07] #201 closed

[2020-10-12 14:29] grst commented on #201
Perfect! Let me know if you have further issues, I want this package to work for everyone.

[2020-10-14 18:06] #194 closed

[2020-10-15 03:47] josinejansen commented on #191
Dear ICBI lab,

I have some questions regarding the Scirpy package, I would really appreciate your help.
For my analyses I first merged TCR and transcriptomics data from two different samples (organ 1 and organ 2), subsequently I then merged these two files.

**1. a) About the clonotype_network: as I understand, each node represents a cell, and edges connect cells belonging to the same clonotype.

[2020-10-15 03:59] josinejansen opened #204 "Ranking genes between specific clusters in clonotype network"
Dear ICBI lab,

I have some questions regarding the Scirpy package, I would really appreciate your help.
For my analyses I first merged TCR and transcriptomics data from two different samples (organ 1 and organ 2), subsequently I then merged these two files.

**1. a) If using the Scirpy clonotype_network tool the 'sequence' is set to 'nt', are the clusters in the clonotype network (where each node

[2020-10-15 09:31] grst commented on #204
Hi Josine,

If you use the default options (i.e. don't specify the `metric` parameter) it will be based on sequence *identity*.

an edge means "these two cells have the same clonotype" (when using identity metric), or "these two cells are in the same clonotype cluster" (when using a similarity metric). When using an identity metric, clusters are always fully connected. This is not necessarily the

[2020-10-15 09:35] grst commented on #114
Closing this, as the points have either been addressed or split into separate issues.

[2020-10-15 09:35] #114 closed

[2020-10-15 09:37] #37 closed

[2020-10-15 09:39] grst commented on #52
This is already implemented in `repertoire_overlap` and will be refactored in #156.

[2020-10-15 09:40] grst commented on #43
This is already implemented in `repertoire_overlap` and will be refactored in #156.

[2020-10-15 09:40] #43 closed

[2020-10-15 09:41] grst commented on #126
Superceded by #191.

[2020-10-15 09:41] #126 closed

[2020-10-15 19:04] josinejansen commented on #204
Dear Gregory,

Thanks so much for your reply. All is clear to me now, except from the last part. I did see the (last) example in the tutorial<https://icbi-lab.github.io/scirpy/tutorials/tutorial_3k_tcr.html>, which is what I'd need (partly), however:

  *   When I plot my clonotype network it doesn't show the number of the clonotype, so how can I determine which ones I have to select, what name (i

[2020-10-16 01:28] hejing3283 opened #205 "Compare clonotype dynamics between samples"
would it be possible to compare clonotype between samples, it would help to monitor the dynamics of clones.

[2020-10-16 09:23] grst commented on #205
I'm not entirely sure that I understood what you want to do. Can you provide a bit more details?

[2020-10-16 09:31] grst commented on #204
Hi Josine,

glad I could help :)

You'll have to plot the clonotype network colored by `clonotype` and with `legend_loc="on data"`.
[code]

Actually, it would be nice to show overlay the clonotype number also if colored by other categories, I'll consider implementing that.

Once you found out the clonotype number, you can again subset `adata` and perform differential expression using scanpy:
[code

[2020-10-16 10:05] grst commented on #169
The issue was that `scanpydoc` is not compatible with `sphinx_rtd_theme` 0.5.x. Had to downgrade to 0.4.x.

[2020-10-16 10:05] #169 closed

[2020-10-16 13:58] #195 closed

[2020-10-16 21:35] hejing3283 commented on #205
Hi,  this question was inspired by an R package called screpertoire  the compareClonotype function.

I have 10 TCR clones,I want to know for each sample the clonotype frequency, and across them, I want to link the shared clones.

The figure looks pretty similar to the gene usage plot currently in scirpy.

Best,
Jing

[2020-10-17 00:58] taopeng1100 commented on #182
H Gregor, as you have suggested, I tried the code like this:
conda install -c conda-forge -c bioconda scirpy ipykernel

I go this error message:

Building graph of deps:   0%|          | 0/3 [00:00<?, ?it/s]
Examining scirpy:   0%|          | 0/3 [00:00<?, ?it/s]
Examining python=3.7:  33%|###3      | 1/3 [00:00<00:01,  1.74it/s]
Examining python=3.7:  67%|######6   | 2/3 [00:00<00:00,  3.49it/s]

[2020-10-17 07:58] grst commented on #205
You are referring to this?
![image](https://user-images.githubusercontent.com/7051479/96331581-b257c980-105e-11eb-8c6c-85bd7676b2b5.png)

* You can achieve sth similar using `ir.pl.group_abundance(adata, target_col="clonotype", groupby="sample")`.
You may want to subset `adata` to a few clonoptypes of interest first:
[code]

* Another option could be to simply color the clonotype network by sample

[2020-10-17 08:05] grst commented on #182
are you sure you are in an empty environment with no other packages (except Python) installed?

You can check with `conda env export`.

[2020-10-17 14:12] hejing3283 commented on #205
Hi Thanks for the explanation.  This works!

Also, is there a way to define clonotypes by CDR3 and V, and J gene?

On Sat, Oct 17, 2020 at 3:58 AM Gregor Sturm <notifications@github.com>
wrote:

--
Cheers!
Jing

[2020-10-17 16:10] grst commented on #205
For `v` gene, we have the option `same_v_gene=True` in `define_clonotypes()`.
J gene is currently not supported, but we can consider that if it's a common use-case. Our reasoning for only including the V gene was that the V gene defines CDR1 and CDR2.

In the meanwhile, if you need to include the J gene, you can work around this by building a new column. Something like that:

[code]

you could, of

[2020-10-17 16:20] taopeng1100 commented on #182
I did : conda env export and got a long list below?

name: base
channels:
  - vtraag
  - defaults
  - conda-forge
dependencies:
  - _anaconda_depends=2020.07=py37_0
Note: you may need to restart the kernel to use updated packages.
  - _ipyw_jlab_nb_ext_conf=0.1.0=py37_0
  - alabaster=0.7.12=py37_0

  - anaconda=custom=py37_1
  - anaconda-client=1.7.2=py37_0
  - anaconda-navigator=1.9.12=py37_0
  -

[2020-10-17 16:22] grst commented on #182
that means you are not in an empty conda env and there's some package that's conflicting.
Make a new one with `conda create` and install scirpy there.

[2020-10-17 16:25] taopeng1100 commented on #182
Ok that is what I thought!

I try to execute the three lines of codes below together and it don’t’ run so I am executing one line at a time and it seems to take a long time?

conda create -n scirpy python=3.8

conda activate scirpy

conda install -c conda-forge -c bioconda scirpy ipykernel

From: Gregor Sturm <notifications@github.com>
Sent: Saturday, October 17, 2020 9:23 AM
To: icbi-lab/scirpy <

[2020-10-17 16:43] grst commented on #182
It can take minutes, but shouldn't take longer.

Another common source of conda problems is a wrong channel configuration. Setting up conda channels is described here:
https://bioconda.github.io/user/install.html#set-up-channels

To reset existing conda configuration, you can use `conda config --remove-key channels`.

[2020-10-17 17:41] hejing3283 commented on #205
Thanks! The work around currently can do the work.
The reason for including j gene is that sometime when identify most abundant clones actually they might differ in gene usage.

Best,
Jing

[2020-10-17 18:12] taopeng1100 commented on #182
I run each line in individual cell. It has been 40 mins and still running?

conda create -n scirpy python=3.7 ## my labtop PC has anaconda with python 3.7.3

conda activate scirpy

conda install -c conda-forge -c bioconda scirpy ipykernel

From: Gregor Sturm <notifications@github.com>
Sent: Saturday, October 17, 2020 9:44 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fred

[2020-10-17 18:25] grst commented on #182
Then sth is wrong. Did you check the channels as described above?

[2020-10-17 18:27] taopeng1100 commented on #182
When I run: conda env export

I see: ame: base
Note: you may need to restart the kernel to use updated packages.
channels:
  - vtraag
  - conda-forge

  - bioconda
  - defaults

From: Gregor Sturm <notifications@github.com>
Sent: Saturday, October 17, 2020 11:26 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [

[2020-10-19 10:39] grst commented on #182
Try this to add the channels in the right order. Also you're not need the vtraag channels any more, the leiden/louvain packages are now on conda-forge.

[code]

[2020-10-19 14:54] slukowski opened #209 "chain_qc function missing in v0.4.2?"
Hi
I was working through the Wu 2020 3k example dataset with scirpy v0.4.2 and came across an issue at the chain_qc step.
`ir.tl.chain_qc(adata)` where the error is `module 'scirpy._tools' has no attribute 'chain_qc'`

When I look at the tool function list, chain_qc is not present. I'm wondering if it has it been replaced with another function, or renamed? How critical is the output of that qc to

[2020-10-19 15:04] grst commented on #209
Sorry, the latest doc is already for v0.5 which I'm gonna release within the next days.

The docs for 0.4.2 are available here:
https://icbi-lab.github.io/scirpy/tags/v0.4.2/

The corresponding function in v0.4 is `ir.tl.chain_pairing`.

Best,
Gregor

[2020-10-19 15:13] slukowski commented on #209
fantastic - thanks Gregor

[2020-10-19 15:13] #209 closed

[2020-10-19 17:49] taopeng1100 commented on #182
Herr is what I did:

conda config --remove-key channels
Note: you may need to restart the kernel to use updated packages.
In [2]:
conda config --add channels defaults
Note: you may need to restart the kernel to use updated packages.
Warning: 'defaults' already in 'channels' list, moving to the top
In [3]:
conda config --add channels bioconda
Note: you may need to restart the kernel to use updated

[2020-10-19 17:55] grst commented on #182
ah, you are trying to do all this within jupyter... The `conda activate` has no effect there.
You'll need to run that in the terminal.

You can then choose the notebook to run in the scirpy environment.
This should help:
https://stackoverflow.com/questions/39604271/conda-environments-not-showing-up-in-jupyter-notebook

If you feel that's too compilcated, you can go for the nuclear option and delet

[2020-10-19 18:09] taopeng1100 commented on #182
Should I run the following three lines of codes in terminal?

conda create -n scirpy python=3.8
conda activate scirpy
conda install -c conda-forge -c bioconda scirpy ipykernel

Tao
From: Gregor Sturm <notifications@github.com>
Sent: Monday, October 19, 2020 10:56 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re:

[2020-10-19 18:12] grst commented on #182
yes.

But then you need to make sure to use the scirpy env in jupyter (see the
stackoverflow link for that)

On Mon, 19 Oct 2020 at 20:10, taopeng1100 <notifications@github.com> wrote:

[2020-10-19 18:16] taopeng1100 commented on #182
OK I will try to figure this out. One question:

After I install Scirpy, will I be able to use it in jupyter with Scanpy together?

Tao

From: Gregor Sturm <notifications@github.com>
Sent: Monday, October 19, 2020 11:13 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCI

[2020-10-19 19:00] taopeng1100 commented on #182
I try to execute the three lines of codes in anaconda Prompt:

I got the error message:

(base) PS C:\Users\tpeng> conda activate scirpy
(scirpy) PS C:\Users\tpeng> conda install -c conda-forge -c bioconda scirpy ipykernel
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with r

[2020-10-19 19:20] josinejansen commented on #204
Dear Gregor,

I can overlay the clonotype number, but when I try to plot it the second and third line here give an error:

[2020-10-19 20:04] josinejansen commented on #204
Dear Gregor,

The scripts seem to throw some errors, could you perhaps point me into the right direction once more?

I can now overlay the clonotype number, but when I try to plot a selection of clonotypes, there is an error:

Error: 'str' object has no attribute 'uns'

The following code gives another error:

Error: 'division by zero'.

Then if I want to rank DE genes between certain clonotypes,

[2020-10-19 21:28] josinejansen commented on #204
Dear Gregor,

Ranking the DE genes between specific clonotypes now works perfectly, as does ranking DE genes within one clonotype that is shared between two organs, so first of all: thank you!!!

My other scripts seem to throw some errors, could you perhaps point me into the right direction once more?

When ranking DE genes between **different subsets of clonotypes**, I create multiple subsets, as

[2020-10-20 06:56] grst commented on #204
Hi Josine,

the first one doesn't work, because you are defining two variables (`final_data_subset`, `final_data_subset2`) which are essentially `AnnData` objects on their own. They are not stored in `final_data`. Therefore, `rank_gene_groups(final_data, ...)` can't know about them.

I initially thought your second approach should work, but apparently, scanpy only accepts a single group as referen

[2020-10-20 06:59] grst commented on #205
Closing this for now.
Feel free to reopen or open a new ticket if other problems arise.

[2020-10-20 06:59] #205 closed

[2020-10-20 16:50] grst commented on #198
Maynard et al. is now available as `scirpy.datasets.maynard2020()`.

[2020-10-20 16:50] #198 closed

[2020-10-20 16:51] grst commented on #132
Just released v0.5.0 which adds support for BCR and gamma/delta TCR :tada:.

[2020-10-20 18:39] taopeng1100 commented on #182
I am somehow able to download visual studio and pip install Scirpy.

Many thx!

Tao

From: Gregor Sturm <notifications@github.com>
Sent: Monday, October 19, 2020 11:13 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

yes.

But then you need to make sure to

[2020-10-21 07:16] FFinotello opened #214 "Annotation of MAIT cells"
Identification of MAIT cells based on conserved [TCR alpha chains](http://www.cbs.dtu.dk/services/MAIT_Match/MAIT_DB_update.php) (could be done by identity or similarity).

[2020-10-21 07:40] grst commented on #214
This seems rather specific, so I'm not sure if this should be a dedicated function.

It is already pretty straightforward using [`sequence_dist`](https://icbi-lab.github.io/scirpy/generated/scirpy.ir_dist.sequence_dist.html#scirpy.ir_dist.sequence_dist).

But maybe this could be combined into a generic function together with https://github.com/icbi-lab/scirpy/issues/54.

[2020-10-21 08:15] FFinotello commented on #214
Good idea! The list of invariant TCR alpha chain would be needed to annotate the cells with exact matches, but the clonotype network could then be used to link them to additional cell types with similar TCR.

[2020-10-21 20:54] josinejansen commented on #204
**Topic: creating a subset from a subset**

Works now! I was able to manually filter for the clonotypes of interest (ones that only occur in organ 1 & organ 2 = subset1), and plot this subset, and then rank genes between different clonotypes, groups of clonotypes.
I did this based on the following figures:

<img width="310" alt="image" src="https://user-images.githubusercontent.com/70770407/967767

[2020-10-21 23:06] josinejansen commented on #204
Topic: **DE genes between organ 1 cells belonging to the clonotypes that have identical CDR3 sequences in both organ 1 and 2 & NON-clonotypes in organ 1**

So subset 1 now only consists of clonotypes that have a shared cdr3_nt sequence in organ 1 as well as in organ 2.

I would like to make two other subsets to only check for DE genes **between the organ 1 cells that are part of subset 1** (which

[2020-10-22 03:21] josinejansen commented on #204
One more question:

When I run the following code, the intended graphs are displayed.

```final_data_subsetX = final_data[final_data.obs["clonotype"].isin(["42"]), :]```
```sc.tl.rank_genes_groups(final_data_subsetX, 'batch', method="wilcoxon")```
```sc.pl.rank_genes_groups(final_data_subsetX, n_genes=25, sharey=False)```

It works fine for some other clonotypes, too.
But when I enter (Murgphy's l

[2020-10-22 17:18] taopeng1100 commented on #182
Hi I am trying to go through the tutorial using ir.datasets.wu2020_3k()

At the step: ir.tl.clonotype_network(adata, min_size=2)
ir.pl.clonotype_network(adata, color="clonotype", legend_loc="none")

I go this error message:

ValueError                                Traceback (most recent call last)
<ipython-input-23-3dfa3846bb6e> in <module>
----> 1 ir.tl.clonotype_network(adata, min_size=2)

[2020-10-22 17:19] taopeng1100 commented on #182
This is the version of packages:

scanpy==1.6.0 anndata==0.7.4 umap==0.4.6 numpy==1.18.5 scipy==1.5.0 pandas==1.0.5 scikit-learn==0.23.1 statsmodels==0.11.1 python-igraph==0.7.1+5.3b99dbf6 leidenalg==0.7.0

From: Peng, Tao
Sent: Thursday, October 22, 2020 10:18 AM
To: icbi-lab/scirpy <reply@reply.github.com>
Subject: Error at "ir.tl.clonotype_network(adata, min_size=2)"

Hi I am trying to go throu

[2020-10-22 17:32] grst commented on #182
I think I've seen this error before in this issue: https://github.com/icbi-lab/scirpy/issues/137
In that case it was sth with the environment.

To rule out that you have an old version of the `wu2020` dataset, can you try to delete the `wu2020_3k.h5ad` file from the `data` directory and download it again?

[2020-10-22 17:37] taopeng1100 commented on #182
Can you guide on how to remove the old wu dataset and download the new one?

From: Gregor Sturm <notifications@github.com>
Sent: Thursday, October 22, 2020 10:33 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

I think I've seen this error before in this is

[2020-10-22 17:39] grst commented on #182
there should be a `data` directory in the same folder as your notebook. just delete that.

The dataset is downloaded again automatically when you run `ir.datasets.wu2020_3k()`.

[2020-10-22 17:41] taopeng1100 commented on #182
I did as you suggested here and the same error !

From: Gregor Sturm <notifications@github.com>
Sent: Thursday, October 22, 2020 10:39 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

there should be a data directory in the same folder as your notebook. jus

[2020-10-22 18:11] grst commented on #204
Hi Josine,

you are on the right track with making a column (as unfortunately can't do the DE comparison between subsets with scanpy). However, there are a few (pandas) problems with your steps, I'll try to explain what's wrong:

Like that you just assign a string (`"adata_subset_organ1_from_clonotypes"`) to all rows of `adata.obs`. To a column, you can either assign a constant value (like here) o

[2020-10-22 18:24] grst commented on #182
Hmm, tricky.

Do you exactely run the commands from the tutorial, in the same order, or do you do something (even slightly) different? If so, could you please provide the exact commands you run from the point you start python until the error occurs?

And can you provide the result of `pip freeze`?

[2020-10-22 18:29] taopeng1100 commented on #182
Attached is HTML file for the steps I have taken to follow the tutorial.

I will look into pip freeze?

From: Gregor Sturm <notifications@github.com>
Sent: Thursday, October 22, 2020 11:25 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

Hmm, tricky.

Do yo

[2020-10-22 18:32] taopeng1100 commented on #182
Here is the output of pip freeze:

airr==1.3.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
anndata==0.7.4
annoy @ file:///D:/bld/python-annoy_1589264717844/work
argh==0.26.2
asn1crypto @ file:///C:/ci/asn1crypto_1594339244757/work
astroid @ file:///C:/ci/astroid_1592481955828/work
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
Automat==0.8.0

[2020-10-22 18:32] grst commented on #182
I think github doesn't forward attachments.. But you can drag&drop it in when you answer on the github website directly.

[2020-10-22 18:41] taopeng1100 commented on #182
[Scirpy_learn.pdf](https://github.com/icbi-lab/scirpy/files/5425014/Scirpy_learn.pdf)

[2020-10-22 18:43] taopeng1100 commented on #182
Jus loaded a PDF file for all the steps in repeating tutorial.

From: Gregor Sturm <notifications@github.com>
Sent: Thursday, October 22, 2020 11:33 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

I think github doesn't forward attachments.. But you can dr

[2020-10-23 09:44] grst commented on #182
I cannot reproduce the issue. In fact, I cannot even reproduce the environment. There are a lot of packages that are not available on PyPI (any more?).

Also your environment is cluttered with such a vast number of packages. The best advice I have is to start fresh and use a clean conda env (`conda create`) or just delete your entire Anaconda installation and install a fresh copy of [Miniconda](ht

[2020-10-23 20:35] taopeng1100 commented on #182
Thx for sticking with me. I removed my old anaconda and reinstalled it and pip installed scanpy ands scirpy.

The demo data (wu) is working now.

How can I save the output figures in a high resolution?

Thx again!

Tao

From: Gregor Sturm <notifications@github.com>
Sent: Friday, October 23, 2020 2:45 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <au

[2020-10-24 09:49] grst commented on #182
You can use [savefig](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.savefig.html) to save as pdf or other high res graphic.

[code]

[2020-10-26 15:50] taopeng1100 commented on #182
I have enjoyed learning Scirpy so far. Many thx!

From: Gregor Sturm <notifications@github.com>
Sent: Saturday, October 24, 2020 2:50 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

You can use savefig<https://urldefense.proofpoint.com/v2/url?u=https-3A__m

[2020-10-27 19:14] taopeng1100 commented on #182
I got the nice graph with this code:

ir.pl.repertoire_overlap(
    adata, "leiden", pair_to_plot=["2", "4"], fig_kws={"dpi": 200}
)

I wonder how I can see the individual clonotypes in leiden cluster “2” and “4”? How can I get the VDJ genes and CDR AA seq for the clonotypes in these two clusters?

I appreciate you made such a grant tool for scRNA+TCR!

Tao

From: Gregor Sturm <notifications@githu

[2020-10-27 23:57] taopeng1100 commented on #182
I am trying to change the scale on both X- & Y-axis of plots using the code below:

ir.pl.repertoire_overlap(
    adata, "leiden", pair_to_plot=["3", "4"], fig_kws={"dpi": 200},
    ax.yaxis.set_major_locator(FixedLocator(np.arange(0, 20, 5)))
)

It did not work! I know I need to learn matplotlib better. Is it an easy way to set the scale for axis in scirpy plots?

Thx,

Tao
From: Peng, Tao
Sent:

[2020-10-28 07:02] grst commented on #182
You can filter `adata.obs` (it's just a pandas data frame):

[code]

---

    adata, "leiden", pair_to_plot=["3", "4"], fig_kws={"dpi": 200},
    ax.yaxis.set_major_locator(FixedLocator(np.arange(0, 20, 5)))
)

close ;)
[code]

[2020-10-28 17:07] taopeng1100 commented on #182
I really appreciate your help!

From: Gregor Sturm <notifications@github.com>
Sent: Wednesday, October 28, 2020 12:03 AM
To: icbi-lab/scirpy <scirpy@noreply.github.com>
Cc: Peng, Tao <tpeng@fredhutch.org>; Author <author@noreply.github.com>
Subject: Re: [icbi-lab/scirpy] Issues with installing SCIRPY (#182)

I wonder how I can see the individual clonotypes in leiden cluster “2” and “4”? How can I

[2020-11-02 16:36] josinejansen commented on #204
Thanks so much for your help/suggestions, they have been very useful and I can apply them now for my other analyses!

[2020-11-05 17:48] ktpolanski commented on #199
Another signal boost post. I just tried to analyse some BCR, so I mimicked the TCR tutorial.

[2020-11-05 18:00] grst commented on #199
Hi @ktpolanski,

the main reason why I didn't prioritize the tutorial so far is that the analysis steps don't differ a lot between TCR and BCR... So following the TCR tutorial should be fine. Would still be nice to have it covered, of course.

Do you have something particular in mind with respect to BCRs?

Best,
Gregor

[2020-11-05 18:00] ktpolanski opened #215 "Repertoire overlap seemingly invariant to clonotype network changes"
Hello,

I just tried analysing some VDJ data with the package, and encountered some unusual behaviour. I mimicked the tutorial's syntax for calling clonotypes via nucleotide identity and amino acid alignment, and tried to use the results to assess repertoire overlap.

[code]

The two networks come out looking quite different:

![image](https://user-images.githubusercontent.com/14993986/98278147-18

[2020-11-05 18:08] grst commented on #215
`define_clonotype_clusters` stores the results to `.obs["ct_cluster_{sequence}_{metric}"]`, so `.obs["ct_cluster_aa_alignment"]` in your case.

Can you try if `ir.pl.repertoire_overlap(adata, "ind_loc", target_col="ct_cluster_aa_alignment")` gives you the expected result?

In any case, I should make that behaviour more explicit, possibly by including the `metric` and `sequence` arguments also into

[2020-11-05 18:17] ktpolanski commented on #215
Yep, my bad, I caught this literally after posting the issue and even tried to delete it. Can confirm this resolved stuff.

If I could make a suggestion, the tutorial goes off at a tangent about alternate ways of calling clonotypes, and then backtracks to the original nucleotide identity calls without much warning. Would be good to add a bit of warning, and possibly instructions how to use these a

[2020-11-05 18:30] grst commented on #215
Thanks for the feedback, I'll try to address that.
Let's keep this one open to remind me about it ;)

[2020-11-06 09:45] ktpolanski commented on #215
In that case, maybe have `define_clonotypes()`/`define_clonotype_clusters()` explicitly print out where they store their output? You could set scanpy verbosity to the relevant level in the package import block at the start, and then when you run the clonotype caller it says something like `Clonotypes stored in .obs['clonotype']` (or whatever is relevant for the call). Adding in an extra function-s

[2020-11-06 13:30] ktpolanski commented on #199
Having had a chat with a biologist, I believe Scirpy's existing functionality covers BCR-specific phenomena (non-identity CDR3 comparisons for somatic hypermutation, and `.obs['..._c_gene']` for class-switch recombination). As such, it should actually be fine, yeah!

Given how vital a role the neighbour/clonotype calling seems to have in the process, do you have any suggestions for Levenshtein par

[2020-11-10 04:18] josinejansen commented on #204
Question: how can I save only the annotated data from one batch (organ_1) within a clonotype (number 1116) to csv?
Clonotype1116 = adata[adata.obs["clonotype"].isin(["1116"]), :]
I think the annotated data belonging to clonotype 1116 can be saved like this:
`Clonotype1116.obs.to_csv('Filename', sep=',')`

But the following does not work, which I can understand (AttributeError: 'DataFrame' object h

[2020-11-10 07:49] grst commented on #204
This sounds like you try to get an `obs` from an `obs`

[code]

On Tue, Nov 10, 2020, 05:18 Josine <notifications@github.com> wrote:

[2020-11-10 13:52] josinejansen commented on #204
Thanks, I see. Saving the df directly works in general, but not when trying to save only the data belonging to cells in a specific batch within a clonotype. The following error then occurs: "AttributeError: 'DataFrame' object has no attribute 'write_csvs'"

# Saving data belonging to for example **one** clonotype works:
`df1 = adata[adata.obs["clonotype"].isin(["1116"]), :]`
`df1.write_csvs('file_

[2020-11-10 14:40] grst commented on #204
It's a detail ;)

`write_csv` is defined on a `DataFrame`, i.e. on `adata.obs`.
`write_csvs` is defined on `AnnData`, i.e. on `adata` directly.

The former will only save the `obs` data frame, the latter will write both `obs` and `var` data frames (and potentially others) stored in an AnnData object.

[2020-11-10 15:03] josinejansen commented on #204
OH, 🙈THANK YOU!!!

[2020-11-12 08:11] grst commented on #199
We don't have any evidence, what the optional threshold is. For TCR, I would say that anything with a levenshtein distance of >1-2 is unlikely to recognize the same antigen. @szabogtamas, our immunology expert, suggested that for BCR it may make sense to relax this threshold a bit.

In the introduction of [this preprint](https://www.biorxiv.org/content/10.1101/2020.03.30.017384v1.full), they write

[2020-11-12 15:20] grst commented on #53
[mmseqs2](https://github.com/soedinglab/mmseqs2) should do a great job for this.
Just tried it for some bacterial sequences (many-against-many). It's super fast and I don't see why we couldn't apply it here.

[2020-11-15 15:54] josinejansen commented on #204
Hi again, so I have tried many things now, but I am not proceeding with the following:
ranking genes between selection A of clonotypes --> **clonotypes only occurring in the brain ("is_brainOnly")** and selection B --> **only batch= blood from selection B ("is_shared"). Selection B consists of clonotypes that occur both in brain AND in blood**.

What am I doing wrong:

# As you suggested, here is

[2020-11-16 10:30] grst commented on #204
Hi Josine,

can you please always include the complete error message? Otherwise it's hard to tell what the actual problem is.
In the line

I spot an unmatched bracket `is_brain)`. Maybe that's already the problem?

Best,
Gregor

[2020-11-17 16:34] josinejansen commented on #204
<img width="567" alt="image" src="https://user-images.githubusercontent.com/70770407/99415003-60a49800-28c5-11eb-8b6b-b4e327caf7fc.png">

Hi Gregor,

So yesterday and today no error, just hangs forever (see above). I have restarted the kernel multiple times, but it doesn't seem to work. As you can see I use somewhat different names to describe the groups than I used above, so please don't get conf

[2020-11-18 07:41] grst commented on #204
* `is_tumor` correctly is a boolean mask, i.e. a pandas series of booleans
* `is_shared`, however, is an object of class anndata (-> you'll need to get rid of the outer `final_data[...]`)

tbh, I don't know why this is not throwing an error though

[2020-11-18 17:01] josinejansen commented on #204
Hi Gregor,

This is just a personal mail, so not really intended to be posted on the web:

Can't thank you enough, you helped me a great deal. I just started my PhD here at Yale as a Dutch M.D., and without any prior coding experience it has been quite the challenge to make Python work. But thanks to your clear instructions, I not only booked some great results, but also learned a lot, and became

[2020-11-26 10:31] grst commented on #191
Check if this could somehow benefit from anndata's planned multimodal data integration (https://github.com/theislab/anndata/issues/237)

[2020-12-01 17:35] vladie0 opened #217 "Memory usage ir_neighbors"
Dear authors,

Currently, the ir_neighbors algorithm consumes over 100G of memory of data from 55k cells, causing memory failures on the server.
Is there any way to limit memory consumption and is this normal behavior, which parameters can I adapt to control memory usage ?

Kind Regards,

[2020-12-01 18:09] grst commented on #217
Hi @vladie0,

what metric and what options do you use for `ir_neighbors`? For only 55k cells this seems like a lot!

There are several points to be considered here:
 * The network graph is stored as a sparse matrix. Each edge in the `cell` x `cell` neighborhood graph has an entry in the matrix.
 * Reducing the `cutoff` will reduce the number of edges, and therefore memory consumption
 * If there a

[2020-12-01 20:04] vladie0 commented on #217
Dear Gregor,

Thank you for your swift reply.
I've reduced the number of edges to 2, but still have the same issue. The ouput is as you can see below, it is stuck at this stage, memory usage ramps up till 128gb than system fails.

![image](https://user-images.githubusercontent.com/14112172/100790721-7d3de580-3418-11eb-96b2-fec8efcc630f.png)

Ar there other parameter that can be of importance, for

[2020-12-01 20:28] vladie0 commented on #217
Even with alignment="identity",  the same memory issue persists

[2020-12-02 07:24] vladie0 commented on #217
This issue keeps occurring even when the number of cells are down sampled to 10000 cells.

[2020-12-02 07:37] grst opened #218 "Set default cutoff value based on the metric"
Using the default cutoff of 10 with Levenshtein causes memory issues.

[2020-12-02 07:40] grst commented on #217
So for this, I would indeed expect memory issues:

[code]

A levenshtein distance of 10 will connect almost all cells - A threshold of 1 or 2 makes more sense here, 10 is better for the alignment metric.

For the others, in particular `ir.pp.ir_neighbors(adata)`, this should not happen.

Just to be sure, when testing the `identity` metric, and the downsampled data, did you restart the Python kerne

[2020-12-02 07:52] vladie0 commented on #217
Yes, memory was cleaned each time.
I performed your request, this was calculated instantly

![ir_req](https://user-images.githubusercontent.com/14112172/100844090-a2177480-347b-11eb-86bb-6bad9b0a4c29.png)

[2020-12-02 07:57] grst commented on #217
Ah wow, that explains. You essentially only have three different clonotypes in your data, with 10k+ cells each.
Is that what you expect from your data?

This will lead to three "dense" blocks of `12931` x `12931` + `13784` x `13784` + ... in the sparse matrix, which is obviously a lot of memory.

This will be fixed by #191, but I'll still take some time to implement it.

On the other hand, with on

[2020-12-02 08:03] vladie0 commented on #217
Ok thank you,
there are 267 clonotypes, but indeed with a lower presence. I'm quite new to TCR so I'm still trying to figure things out.
I will certainly lookout for the next updates, thank you for your aid and the development of an awesome package.

Would you suggest to remove the top 3 clonotype and build a network on this data subset or would you still consider it unnecessary to define clonotyp

[2020-12-02 08:11] grst commented on #217
First I would wonder: is there a biological explanation for the clonotypes being so skews, or is this a technical artifact?
I have never seen such an unequal distribution of clonotypes before, they usually follow a [Power Law distribution](https://en.wikipedia.org/wiki/Power_law).

I think it is still interesting to look at a clonotype network. As a temporary workaround, you could remove all cells

[2020-12-02 08:18] vladie0 commented on #217
Yes, these are cell lines of T-cells harvested from a patient, with a certain disease. I suppose this explained the skewed distribution.

I will try to implement the workaround, thank your support

[2020-12-02 08:29] grst opened #219 "improve docs build system"
*Current list of stuff to solve*:

 - [x]  build an overview page of available versions (see also #267)
 - [ ] move docs to separate repo to keep footprint small (?)
 - ~~[ ] remove PR builds on merge/close~~ (not necessary anymore, as PR docs are not uploaded to gh-pages anymore)
 - [x] Fix version number indicated in docs sidebar
 - [x] find a way to enable PR doc previews for forks or disable i

[2020-12-02 08:32] grst commented on #182
Hi @taopeng1100,

I'm closing this issue now. Feel free to reopen or create a new one if you encounter any other problems.

[2020-12-02 08:32] #182 closed

[2020-12-02 08:54] grst commented on #219
Since RTD now fully supports PR builds, it may be worth switching to that service:
https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

this also solves versioning of docs and having a separate `master` and `stable` documentation.

[2020-12-02 08:58] grst commented on #219
This will serve to redirect the old docs to the new one:
https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site

and
[code]

[2020-12-02 09:32] vladie0 commented on #217
One more question,
I've received a 1T mem machine to perform calcuation on the full DB, what exact parameters would you suggest to use to perform ir_neighbors?

[2020-12-02 09:40] grst commented on #217
fingers crossed that works out :crossed_fingers:

If you want to construct the network based on "similar clonotypes that likely recognize the same antigen",
I would go for the `alignment` metric and a cutoff of somewhere between `10` and `15` (we don't have empirical evidence to back up an ideal threshold).

Since you have so few clonotypes, I would probably use `dual_ir = "any"` and `receptor_arm

[2020-12-06 10:50] grst commented on #204
Hi Josine,

I'm closing this issue for now. Feel free to reopen, or create a new one, if you have further questions.

Best,
Gregor

[2020-12-06 10:50] #204 closed

[2020-12-09 14:21] grst commented on #219
After some tryouts I ran into the issue that RTD does not provide us with enough time and RAM to execute the tutorials.

I considered [rtds-action](https://github.com/dfm/rtds-action) to execute the notebooks on GH actions, but
it currently does not support integration with pull-requests (https://github.com/dfm/rtds-action/issues/1).

Therefore, for now I will stick with github actions. It also al

[2020-12-10 13:39] grst commented on #218
Closed in #222

[2020-12-10 13:39] #218 closed

[2020-12-10 14:48] grst opened #228 "Include Python 3.9 in CI tests"
Consider dropping support for Python 3.6 - Numpy stops supporting it anyway.

[2020-12-10 14:55] grst commented on #228
Also, the publish python github action should use a python version that has been tested.

[2020-12-16 19:37] nicoac commented on #217
I'm running into a similar issue with a dataset generated from T cells with a fixed beta chain. Seems as if the computation gets stuck and this is what it looks like: 0%|          | 0/669 [00:00<?, ?it/s]

[2020-12-17 08:01] grst commented on #217
Hi @nicoac,

to verity that it is really the same issue, could you please also report the result of the following two command?
[code]

[2020-12-17 16:42] nicoac commented on #217
Thanks for the response. @grst
Here is the result of that code:

IR_VDJ_1_cdr3
CASSSPGTANYAEQFF    25647
nan                  9079
None                  242
CTCSAEGDRQAPLF          6
CAWSLGQQNTLYF           6
dtype: int64

As you can see. It is quite a large amount of one specific chain. Also just to be clear. This is the result of combining six different adata frames. I have three day zeros and t

[2020-12-17 16:55] grst commented on #217
Thanks for checking, seems indeed the same issue.
I'll try to fix it after the holidays.

[2020-12-29 15:36] grst commented on #132
Just discovered https://github.com/zktuong/dandelion, which wraps tools from the [immcantation](https://bitbucket.org/kleinstein/immcantation/src/master/) suite in a scanpy/scirpy-like python interface.

This could be useful for addressing the remaining BCR issues.

[2020-12-29 19:00] zktuong commented on #132
@grst Hi, Yes sure. I'm just in the process of updating the notebooks and documentation to make it compatible with readthedocs. So hopefully once that is done we can discuss a bit further. The tool should be accompanying a manuscript that would probably be up on a pre-print server soon.

[2020-12-30 13:58] grst commented on #132
great, looking forward to reading it!

[2020-12-30 15:02] zktuong commented on #132
OK the docs are now live at [https://sc-dandelion.readthedocs.io/](https://sc-dandelion.readthedocs.io/en/master/).

[2021-01-13 12:58] algarji opened #231 "Is it possible to import normalized counts or UMAP from seurat?"
I like using seurat (R) for sc data normalization, visualization and analysis, but I am interested in the scirpy package to analyze the TCR data, as it is very complete and has some advantages respect other similar R packages. I will use 10x genomics in my experiment. I was wondering if it is possible to represent clonotype data from scirpy in UMAPs  from seurat.

I think that seurat normalized co

[2021-01-13 13:09] grst commented on #231
Hi @algarji,

scanpy stores the umap coordinates in `adata.obsm["X_umap"]`.
You can manually set those to the coordinates computed by seurat. Then plotting with clonotypes should work.

Or you can export `adata.obs` after running scirpy and add it back to the Seurat object in R and make the plots there.

Cheers,
Gregor

[2021-01-13 13:20] algarji commented on #231
Thanks @grst for the quick response. Yes, I will try what you propose on some training data, it seems affordable.

[2021-01-13 13:20] #231 closed

[2021-01-13 17:10] grst commented on #53
superseded by #190 (faster chain_pairing) and #230.

[2021-01-13 17:10] #53 closed

[2021-01-13 17:16] grst opened #232 "Consider refactoring group_abundance."
The current group_abundance function is relatively slow.
Also I don't like the name too much.

barplot or stackedbarplot is better. `x`, `y` and `color` are better argument names.

Maybe this could even be merged upstream into scanpy.

See also:
https://sc-dandelion.readthedocs.io/en/master/api.html#module-dandelion.plotting

[2021-01-14 05:25] Richard0146 opened #233 "OSErrors while running ir.pp.ir_neighbors"
I am learning to use Scirpy to deal with single cell immune profiling and facing a problem:

OSError: [Errno 22] Invalid argument: 'D:\\immune\\<input>'
in
[code]

The content of my adata.obs shown following:
[code]

What is the reason causing the error and how to deal with it? Thanks.

[2021-01-14 07:49] grst commented on #233
You might actually be running into a Python bug:
https://stackoverflow.com/questions/54176876/what-is-the-reason-of-this-errror-permissionerror-winerror-5-access-is-deni

Whats your python version? And can you try upgrading to python 3.7.9 or 3.8.7 (python 3.9 is not yet supported)?

[2021-01-14 07:58] Richard0146 commented on #233
my python version is 3.8.7. Should I try python 3.7.9?

[2021-01-14 08:04] Richard0146 commented on #233
I just try to run this sentence in IDLE and the problem is solved.
Python console in PyCharm cannot run it successfully. Maybe it is due to the bug of python or PyCharm.

[2021-01-14 08:04] grst commented on #233
No, that bug should be fixed in both versions... But it really seems like some low-level problem with the multiprocessing package.

More things you could try:
 * setting `n_jobs=1` in `ir_neighbors` to make it run single-threaded.
 * re-install python and scirpy from scratch. Ideally using [miniconda](https://docs.conda.io/en/latest/miniconda.html)

[2021-01-14 08:05] grst commented on #233
weird. Are you sure the python version used in pycharm is also 3.8.7?

[2021-01-14 08:11] Richard0146 commented on #233
I just used `sys.version` to check the python version in PyCharm and the result is,
[code]

I also added `n_jobs=1` in `ir_neighbors`, and it returns the same error with a "infinite loop"

[2021-01-14 08:16] grst commented on #233
Maybe it's indeed a Pycharm issue:
https://youtrack.jetbrains.com/issue/PY-36151

[2021-01-14 08:26] Richard0146 commented on #233
I may change an IDE to do this project. Thanks for your reply.

[2021-01-21 22:37] nicoac commented on #217
Hi Gregor. Just following up with you on some updates. I was able to get the numbers to crunch properly all the way through the ir_neighbors and the end of the analysis as per the tutorial. However, after coming back to it a few days later I am not running into an issue where it seems as if the VDJ cord-dictionary completely resets and wipes all of my variables.

Any thoughts?

[2021-01-22 07:32] grst commented on #217
I'm not sure what you mean with the coord-dictionary and what exactly is getting wiped. Can you provide an example?

[2021-01-22 17:20] nicoac commented on #217
![scirpy_error](https://user-images.githubusercontent.com/61473108/105523295-76ef1b80-5c9b-11eb-935f-244cf279f3b9.PNG)

Here is what is happening after a fresh run of the code

[2021-01-25 08:19] grst commented on #217
What probably happens is that the jupyter kernel gets killed because it runs out of memory (it seems `pp.ir_neighbors` never finished). As the jupyter kernel restarts, all your objects get lost.

Unfortunately, there's currently not a lot you can do except for
 * downsample (reduce the number of cells with identical clonotypes)
 * getting crazy amounts of memory

I'm working on a fix in #230, but

[2021-01-25 17:26] vladie0 commented on #217
Hi grst,

I have a new batch of similar data and was wondering what your progress is on optimizing ir_neighbors for sparse matrices. The reason I'm asking is that I have a new, similar project and was wondering whether I should receive a large memory server again ?

[2021-01-25 19:35] nicoac commented on #217
Ah. Thanks Gregor. I actually relaunched the notebook with increased access to memory. Appears to be working again. Thanks so much.

[2021-01-25 20:35] grst commented on #217
I don't want to promise anything, but if all goes well I should have something ready to test in 2-3 weeks.

[2021-01-26 08:24] #233 closed

[2021-01-26 08:25] grst opened #234 "TCR sharing cluster plot"
These TCR clusterings look quite nice. Consider making a plotting function for it.

![image](https://user-images.githubusercontent.com/7051479/105819273-428ba000-5fb8-11eb-91c0-fa9f27609fb1.png)

(from https://www.sciencedirect.com/science/article/pii/S0092867420314446)

[2021-01-27 05:16] Richard0146 opened #235 "RuntimeError while running ir_neighbors in .py file"
I wrote a script to automate the data processing. When the script runs to pp.ir_neighbors, my script will automatically start from the beginning. No errors are reported when running this command alone.

[code]
The error is reported as follows, and is stuck in an infinite loop.

[code]
It seems to be a multi-threaded issue, and I haven't found a way to run it without multi-threading. It reports an

[2021-01-27 06:56] Richard0146 commented on #235
I added
[code]
and the problem is solved.

[2021-01-27 13:56] Richard0146 opened #236 "TypeError while running pp.ir_neighbors"
TypeError was raised when I run the following script.

[code]
and it returned:

[code]
Could you please tell me why this error was raised and how to solve it? Thank you.

[2021-01-27 16:37] grst commented on #236
What's your scipy and numpy versions?
You can for instance use [scanpy.logging.print_versions()](https://scanpy.readthedocs.io/en/stable/api/scanpy.logging.print_versions.html#scanpy.logging.print_versions)

[2021-01-27 16:40] grst commented on #235
This one is resolved then? Feel free to open otherwise!

[2021-01-27 16:40] #235 closed

[2021-01-27 16:43] #125 closed

[2021-01-28 05:38] Richard0146 commented on #236
Hi. The results is
[code]

[2021-01-29 07:51] grst commented on #217
Hi @vladie0,

just wanted to let you know that the 2-3 weeks won't work out. There were some setbacks and I now need to commit to other projects for a while.

Sorry about that,
Gregor

[2021-01-29 11:22] chris-rands opened #237 "parasail installation issue"
Great package, thank you! I had `parasail` installation errors like including `RuntimeError: make of automake failed`. Found a workaround in https://github.com/nanoporetech/medaka/issues/108

[code]

[2021-01-29 13:19] grst commented on #237
Hi Chris,

it seems parasail doesn't provide a wheel for linux. Ultimately this needs to be fixed on the parasail side.
Using bioconda should also resolve the issue.

I'll leave this open s.t other users can find this workaround easily, and maybe add a note to the docs at some point.

[2021-01-30 10:08] grst commented on #236
Thanks for the additional information!
I believe this happens if none of your cells is connected in the clonotype neighborhood graph.

I'll post a fix shortly.

[2021-01-30 10:36] grst commented on #236
This should be solved in #238.
Can you try it out with the development version? You can install it using
[code]

[2021-01-30 10:58] Richard0146 commented on #236
Thank you for your help. Indeed, this data has only 22 cells, so it is very likely that there are no connections in the neighbor images.

I am executing the command you sent me in windows cmd and this seems to take some time. Command `pip install git+https://github.com/icbi-lab/scirpy.git@fix-236` has been executing for 10 minutes now and I don't know if this is normal.

Also in the github interfa

[2021-01-30 11:17] grst commented on #236
Yes it will compile parasail from scratch, that will take some while. But it eventually failed for me as well, that's why I deleted the message again.

I'm currently working on the failing tests, but they are unrelated to the issue you were having.

[2021-01-30 15:26] grst commented on #236
The tests are now passing and `pip install git+https://github.com/icbi-lab/scirpy.git@fix-236` works for me as expected.
Did it eventually finish for you?

[2021-01-30 15:31] Richard0146 commented on #236
Thanks for your help. The command just waited for a long time but did not work and reported an error, so I did not try again. Now I executed the command again and waiting for the result in progress.

[2021-01-30 16:18] Richard0146 commented on #236
I ran the command `pip install git+https://github.com/icbi-lab/scirpy.git@fix-236` twice but it reported the same error:
[code]

[2021-01-30 16:21] grst commented on #236
Weird, it already fails during cloning the repository.
Whatever,I'm just gonna make a release, then you can install it in the regular way.

[2021-01-30 16:21] #236 closed

[2021-01-30 16:37] Richard0146 commented on #236
So should I just wait for you to release the latest version of the package now and then execute `pip install --upgrade scirpy`?
Should I re-try `pip install git+https://github.com/icbi-lab/scirpy.git@fix-236` or to see the pip failing log?

[2021-01-30 16:39] grst commented on #236
[code]

should work now and install v0.6.1.

[2021-02-05 12:17] zktuong commented on #132
Hi @grst,

I finally have some time to route back to this; sorry for the slow/delayed response, and sorry for the long post below.

I've been reworking the data structure for `dandelion`'s class object to remove some esoteric code and facilitate a future possibility of TCR analysis and also integration with other tools such as `scripy`. It's not quite there yet but the major hurdle should now be r

[2021-02-07 03:30] lee-kyoungjun opened #239 "An issue about multichain column"
Hi I'm kyoungjun lee who is new to scirpy.
while i'm loading 'filtered_contig_annotations.csv' by using read_10x_vdj function, i found that the multichain column doesn't always match with the number of pairs of TRA-TRB.

![image](https://user-images.githubusercontent.com/55538330/107135649-da39a880-693f-11eb-9abf-ff50a356afcf.png)

Is there any reason that some events are not taken as 'multi_chain

[2021-02-07 08:05] grst commented on #239
Hi Kyoungjun,

thanks for reporting. "non-productive" chains don't count, maybe that's the issue?
Otherwise, could you please share all lines from your `filtered_contig_annotations.csv` from one of the affected cells, then I can have a closer look.

Best,
Gregor

[2021-02-08 01:20] lee-kyoungjun commented on #239
Hi Gregor,

Thank you for immediate reply.
The chains were productive chains according to  'filtered_contig_annotations.csv' file as shown below.
![image](https://user-images.githubusercontent.com/55538330/107165547-99509b00-69f6-11eb-86e8-c0725dfd80e3.png)
![image](https://user-images.githubusercontent.com/55538330/107165564-a077a900-69f6-11eb-89be-f8aea0f19e25.png)

And below file is from conver

[2021-02-08 05:08] lee-kyoungjun commented on #239
Oh it was my misunderstood.
I didn't see that multichain means there are more than two full chains.
Thank you for your attention Gregor.

Thank you.
kyoungjun

[2021-02-08 05:09] #239 closed

[2021-02-08 14:31] grst commented on #132
Hi Kelvin,

thanks for the initiative. I would absolutely love if we managed to settle on a common datastructure.

I think the challenge with AIRR data is that AIRR data is chain-centric, while AnnData is cell-centric.
Since all the scanpy functions operate on cells, I finally chose to squeeze the receptor data into a cell-centric
format, by adding each column from the AIRR rearrangement schema fo

[2021-02-08 18:00] zktuong commented on #132
Hmm I would say dandelion is primarily chain-centric and input works very similarly to your description of scirpy's but not as fancy.

I basically read the entire AIRR table and wrote a parser to interact with the AIRR table directly with a few standard output columns as part of the initialization procedure. All other functions work off the original AIRR format and then returns it directly to the

[2021-02-09 07:55] grst commented on #132
Great!
There's already a [scirpy.io.to_ir_objs](https://icbi-lab.github.io/scirpy/generated/scirpy.io.to_ir_objs.html#scirpy.io.to_ir_objs) function that can convert a scirpy anndata back to a list of `IrCells`. Should be straightforward from there. Actually, I could also consider implementing a `write_airr` function.

Just note that excessive chains will be lost in that process - I don't know yet

[2021-02-09 11:10] zktuong commented on #132
Sounds good. Just want to flag a couple of hiccups:

1) `scirpy.io.to_ir_objs` doesn't work on the adata downloaded using `adata = ir.datasets.wu2020_3k()`
the following error is raised:
`ValueError: Key 'IR_VJ_1_expr_raw' not found in adata. Does it contain immune receptor data?`

2) `scirpy.io.read_airr` doesn't work on the 10x cellranger-generated `airr_rearrangement.tsv` because the file annoy

[2021-02-09 12:26] grst commented on #132
Thanks for reporting, I'll try to address them this week.

On Tue, 9 Feb 2021 at 12:10, Kelvin <notifications@github.com> wrote:

[2021-02-09 12:56] zktuong commented on #132
I've created a draft PR #240 and added the code that deals wtih (2) and (3) above but not annotated fully (because i don't know how to haha).

Also I think what can be improved is if the `IrCell` can also stash `clone_id` if there is that is annotated in some form in the h5ad/airr table. Even better would be if `IrCell` can be interated so that it will just store whatever information it sees that

[2021-02-09 12:58] grst commented on #132
Cool!

store whatever information it sees that is IR related.

Yes, let's make it an AirrCell that's fully AIRR compliant.

On Tue, 9 Feb 2021 at 13:56, Kelvin <notifications@github.com> wrote:

[2021-02-10 07:46] grst commented on #132
I thought a bit more about how to restructure the scirpy IO module:

 * Rename `IrCell` and `IrChain` to `AirrCell` and `AirrChain` to reflect that they are fully AIRR compliant
 * Change them to support all columns defined in the rearrangement schema. Except the fields required by the AIRR standard all fields are optional.
 * I found a way (although a hacky one: pickling and base64 encoding) of s

[2021-02-10 18:24] zktuong commented on #132
I think that all sounds good. It would be great if the extra chains information can be stored somewhere and retrieved appropriately as you described.

I also just noticed a minor parsing 'failure' when converting from scirpy -> dandelion but not sure if it's going to be an issue but i can forsee some potential confusion. These are cells without IGH contigs (which I presumed would be removed from s

[2021-02-22 17:45] chris-rands opened #242 "Label filtered contig annotations?"
When calling `scirpy.io.read_10x_vdj()` with `filtered=False` it might be useful to add a categorical attribute like `adata.obs["has_ir_filtered"]` to distinguish those cells (or perhaps better use the original `is_cell` and `high_confidence` labels)

[2021-02-22 17:54] grst commented on #242
good point, this can be combined with https://github.com/icbi-lab/scirpy/pull/241.
Do you happen to know if these attributes have an equivalent in the AIRR-standard?

Or maybe @zktuong knows, afaik he has worked with the cellranger AIRR format already?

[2021-02-22 19:09] zktuong commented on #242
There's no equivalent standard columns AFAIK but 10x provides the column `is_cell` in its AIRR output, but not the `high_confidence` column.

[2021-02-25 11:02] chris-rands opened #243 "Cells without IRs are assigned unique clonotype with size=1"
I'm integrating 5' RNA-seq and TCR data, works well thanks. One question, `adata[adata.obs["has_ir"] == "False"].obs["clonotype"]` includes unique categories for each cell in the form `"n_5_no IR"`, and `.obs["clonotype_size"]` (and `.obs["clonal_expansion"]`) is `1` for these cells (rather than `0`). This creates a slightly misleading picture if you do `sc.pl.umap(adata, color=["has_ir", "clonoty

[2021-02-25 11:12] chris-rands commented on #242
Thanks both, my workaround for now is to read twice with `filtered=False` and `filtered=True` and perform a subtraction to label the filtered cells

[2021-02-25 11:15] grst commented on #243
This should be fixed when I finally manage to wrap up #230.
In the meanwhile, you could just manually set these values to zero before plotting:

[code]

[2021-02-26 13:06] Movahedilab opened #244 "Errors when running ir.pl.clonotype_imbalance and sc.pl.umap of specific clonotypes"
Thank you for the really great tool!
I was trying to rerun the tutorial, but I got several errors. I would appreciate any help on what could have gone wrong.
Two of them were while running ir.pl.clonotype_imbalance:
[code]
[code]

----------------------------------------------------------------------------------------------------------------------------------------------
Second error:

[code]
[cod

[2021-03-01 13:23] grst commented on #244
Hi @Movahedilab,

thanks for your report!
I wasn't able to reproduce the error using `datasets.wu2020_3k()`, the indicated versions and your notebook.
Since the input numbers of your notebook are not consistent, I assume that you may have done something with `adata` that is
not part of the notebook and causes the error.

Or have you modified the numpy error handling, e.g. using [seterr](https://nu

[2021-03-01 18:05] Movahedilab commented on #244
Hi Gregor,

Thanks for the quick response!

I don't have much experience in python, but I have attached what I hope is a reproducible example. I haven't changed anything in the numpy settings and I didn't do any modifications to the adata.

I have also tried to run the tutorial on my dataset, using the same kernel, and surprisingly pl.clonotype_imbalance worked, though sc.pl.umap of specific clono

[2021-03-01 18:20] grst commented on #244
Hi Daliya,

unfortunately GitHub discards attachments sent by email. Could you please upload them using the web interface so that I can look into this?

Best,
Gregor

[2021-03-01 18:35] Movahedilab commented on #244
Sorry, here they are:
[Examples_scirpy.zip](https://github.com/icbi-lab/scirpy/files/6063694/Examples_scirpy.zip)

[2021-03-02 02:14] QuKunLab opened #245 "scirpy to analyze BCR"
could scirpy be applied to analyze scBCR data? what's the potential risk?

[2021-03-03 08:58] grst commented on #245
Sure, that's entirely possible. The procedure is analogous to the TCR tutorial, but you might want to consider the [`hamming`](https://icbi-lab.github.io/scirpy/generated/scirpy.ir_dist.HammingDistanceCalculator.html#scirpy.ir_dist.HammingDistanceCalculator) distance for clonotype networks.

You can also take a look at [dandelion](https://github.com/zktuong/dandelion) which provides additional too

[2021-03-03 16:00] grst commented on #244
Thanks!

For me it runs through, although still with the warnings.
Could you try to run

[code]

at the beginning of your notebook? I am starting to suspect you might have different default numpy setting -- for whatever reason.

[2021-03-03 16:08] Movahedilab commented on #244
Thanks for all the effort!
I ran the same notebook with np.seterr(all="warn"):
[Scirpy_3kT_cancer_error_example.zip](https://github.com/icbi-lab/scirpy/files/6077304/Scirpy_3kT_cancer_error_example.zip)

[2021-03-04 12:34] grst commented on #244
Maybe different column types are the problem?
https://github.com/pandas-dev/pandas/issues/17190

Yet that doesn't explain why it works for me, but not for you with the same versions.
I'll keep this open and look into it when I have a bit more time.

[2021-03-09 22:35] nicoac opened #246 "Cells without alpha chain"
Hello! Really enjoying the package. I have a question regarding cells without alpha chains and how they should be interpreted. I have a very large TCR clonotype that is returning without an alpha chain and I'm having a hard time understanding why this would be the case based on the qc steps that were taken.

Results of QC:

![image](https://user-images.githubusercontent.com/61473108/110547369-1272

[2021-03-10 07:51] grst commented on #246
Hi @nicoac,

how did you do the QC filtering?
Because from your figure, this is totally expected - "Orphan VDJ" refers to cells having a beta chain only.

[2021-03-10 08:16] grst opened #247 "Plot overhaul"
Follow scanpy's plotting conventions more closely.

[2021-03-10 08:17] grst opened #248 "Settings class"
Build a settings object `ir.settings` similar to `sc.settings`. It should inherit everything from the scanpy object,
but it should be possible to override settings for scirpy only.

[2021-03-10 17:48] grst opened #249 "Make compatible with pandas 1.2.0"
Some tests fail with the most recent version of pandas.

[2021-03-10 17:51] grst commented on #214
Closed in favor of #54.

[2021-03-10 17:51] #214 closed

[2021-03-10 20:41] ivandatasci opened #250 "Saving plots (png, pdf, svg)"
Could a kind soul point me to an example of saving a plot to png?

Its probably somewhere in the documentation but I am unable to find it.

Thank you.

[2021-03-11 08:12] grst commented on #250
Hi @ivandatasci,

every scirpy plotting function returns a matplotib Axes object (or a list of such).
You can use

[code]

to save those figures.

[2021-03-11 16:34] ivandatasci commented on #250
That almost worked. For the sake of helping others, allow me to elaborate.

This is what worked for me

    axs = ir.pl.group_abundance(adata, normalize=False, groupby="chain_pairing", target_col="sample")

    axs.get_figure().savefig('myfigure.pdf', bbox_inches='tight')

Notice the use of simply `axs` as opposed to `axs[0]`.

Also notice the need to indicate `bbox_inches='tight'` so that the fig

[2021-03-11 16:37] #250 closed

[2021-03-11 18:24] nicoac commented on #246
Now that you've said that I realized I'm not dumping out the orphan VDJ, only the multi-chain. Is it possible to filter those cells as the multi-chain was done here? : adata = adata[adata.obs["multi_chain"] != "True", :].copy(). Is the obs called "orphan_vdj"?

I guess I'm just surprised with how large that clone appears in the clonotype network graph when looking at the bar graph.

[2021-03-12 06:44] grst commented on #246
Sure! You can always check the available categories of a column in `obs` with

[code]

To filter, you can use, e.g.
[code]

(untested, hope there are no typos)

[2021-03-17 08:25] #164 closed

[2021-03-17 08:25] #191 closed

[2021-03-17 08:25] #192 closed

[2021-03-17 08:25] #217 closed

[2021-03-17 08:25] #228 closed

[2021-03-17 08:33] grst commented on #245
Hi @QuKunLab,

I'm cleaning up issues a bit and closing this. Feel free to reopen or create a new issue if you have any other questions :)

Cheers,
Gregor

[2021-03-17 08:33] #245 closed

[2021-03-17 08:34] grst commented on #246
Closing this for now - feel free to reopen if there are any other questions!

[2021-03-17 08:34] #246 closed

[2021-03-17 09:54] grst commented on #243
clonotype size should behave as expected in the latest dev version. Still an issue with `clonal_expansion`. Working on it.

[2021-03-17 09:55] grst commented on #217
Hi @vladie0 and @nicoac,

#230 is finally merged. Could you give it a try and check if everything works as expected now?

You can install the development version using
[code]

Note that the procedure for calling clonotypes has slightly changed, in particular:
 * `pp.ir_neighbors` has been replaced by `pp.ir_dist`
 * `tl.define_clonotypes` now takes the `dual_ir` and `receptor_arms` arguments (they

[2021-03-17 11:46] #243 closed

[2021-03-17 11:54] grst commented on #243
Hi @chris-rands,

this should now work in the latest development version. Could you give it a try and check if everything works as expected now?

You can install the development version using
[code]

Note that the procedure for calling clonotypes has slightly changed, in particular:
 * `pp.ir_neighbors` has been replaced by `pp.ir_dist`
 * `tl.define_clonotypes` now takes the `dual_ir` and `recept

[2021-03-17 12:38] grst commented on #242
I had another look at the 10x AIRR files. It seems they only contain filtered cells anyway, so for the unfiltered ones we would still have to rely on the 10x csv/json files.

The AIRR files do, however, contain a `is_cell` column (which is non-standard) and a `productive` column (which is standard) and `productive + is_cell = filtered`. As the file is filtered already, the values are all TRUE.

[2021-03-17 18:39] nicoac commented on #246
Thanks so much Gregor. Will try this out soon.

[2021-03-17 18:40] nicoac commented on #217
I will report back with results. Thank you so much!

[2021-03-17 21:38] chris-rands commented on #243
Thanks @grst - appreciate these updates and I will check it out soon. On clonotype definitions, how different are your clonotype calls from those defined by cellranger?

[2021-03-18 00:44] diitaz93 opened #253 "IrChain instantiation fails when no `expr` parameter is specified"
Thanks for this amazing toolkit!
I am trying to import my data in "other format" in a similar fashion as in the [importing tutorial](https://icbi-lab.github.io/scirpy/tutorials/tutorial_io.html?highlight=adaptive%20immune%20receptor#Creating-AnnData-objects-from-other-formats). However, my data does not have a TCR expression field, so when I try to omit it, it takes the default value (`expr=None`)

[2021-03-18 14:51] grst commented on #253
Hi Sebastian,

I'm afraid the `expr` column is currently mandatory. As a workaround, you could simply pass `expr=1` for all chains.
I can try to make it optional while working on #241.

The reason why it is required, is that when multiple VJ or VDJ chains are provided per cell, the chain with the higher expression is considered the "primary" chain, while the one with the lower expression considere

[2021-03-18 15:13] grst commented on #243
As far as I can tell, cellranger requires all chains of a cells to be identical to be grouped to a clonotype. This behaviour is comparable to `tl.define_clonotypes(receptor_arms="all", dual_ir="all")`.

Scirpy's default is `receptor_arms="all", dual_ir="any"`, i.e. at least one VJ and at least one VDJ chain need to match.

[2021-03-18 15:55] diitaz93 commented on #253
HI Gregor,
Thanks for your answer, the workaround of setting `expr=1` works fine for now.

Cheers,
Sebastian

[2021-03-20 22:29] jdhenaos opened #254 "Multiple sample integration - 10X"
Hi.

I have the .json from 10X per sample. How could I integrate all those samples with the expression anndata.

I used the following code. However, in the further steps I saw the information is present just for the first sample.

Thanks in advance,

Juan

[code]

[2021-03-21 09:59] grst commented on #254
Hi Juan,

on this first glance, this looks like it *should* work (provided that `adata` contains all samples and the `obs_names` match). Do you get any logging output (try setting `sc.settings.verbosity = 4`)?

Otherwise you could also try to merge them on a per-sample basis, and concatenate the merged adatas, as described [in the data loading tutorial](https://icbi-lab.github.io/scirpy/tutorials/

[2021-03-21 17:09] jdhenaos commented on #254
Hi.

Thanks a lot for the quick response! When I merge sample by sample with the expression anndata I received the next message:

[code]

I cannot follow the tutorial because the expression anndata I am working on is an already preprocessed one. That is the reason I am adding TCR data directly to the same anndata object.

Kind regards,

Juan

[2021-03-22 07:35] grst commented on #254
I'd actually expect this message in every loop iteration :thinking:

I see! Before I start further investigation, could you please double-check that the `obs_names` match between transcriptomics and IR adata? As the transcriptomics adata is already merged, it might have batch ids appended to the barcodes, while the IR adatas don't.

[2021-03-23 19:32] nicoac commented on #217
Hi Gregor. This fix made the data analysis very very fast. I appreciate your work. I have one question related to this. I'm looking at the documentation of the tl.define_clonotypes and looking at my output. I have clones being named that have the same alpha and beta chains but being called different clonotypes. I believe this is due to nucleotide differences in their CDR3 regions. Is it possible t

[2021-03-24 08:09] grst commented on #217
Hi @nicoac,

glad to hear that it has fixed the issue for you!
I'm not sure I fullly understood what you want to achieve... Do you want to define clonotypes only based on the v-genes and ignore sequence information completely?

[2021-03-24 16:07] nicoac commented on #217
Hi Gregor. I'm realizing that that would be a bit of a silly way to do it. I'm going to delete the question. Thank you!

[2021-03-25 16:49] grst opened #255 "Replace `adata.concatenate` with `anndata.concat` in the tutorial"
`concatenate` breaks when no transcriptomics data is available, see https://github.com/theislab/anndata/issues/526

[2021-03-25 17:04] chris-rands commented on #243
Hi @grst , just had a quick look at the development version. It installed smoothly thanks. I've not had a chance to asses the clonotypes yet but a couple of points on usability:
- The new implementation to define clonotypes uses less memory (I was having issues with >100Gb memory used for a large dataset under the old implementation) so that's great
- I can't save the object to .h5ad due to `TypeE

[2021-03-25 22:27] surajg4 opened #256 "Normalized Hamming Distance"
It would be better to have a normalization options in distance metric for BCR support. Still not clear on how to use the abstract class DistanceCalculator (tutorial could help)

[2021-03-26 08:11] grst commented on #256
Pinging @ktpolanski, who added the Hamming Distance Feature: What do you think about the normalization?

---

Regarding the `DistanceCalculator`: What's your question in particular? I think it should be feasible to implement a custom distance calculator that inherits from the abstract base class by looking at the examples and docstrings in [`metrics.py`](https://github.com/icbi-lab/scirpy/blob/mas

[2021-03-26 08:19] grst opened #257 "Can't save anndata after running `define_clonotypes`"
reported by @chris-rands in #243:

[2021-03-26 08:21] grst commented on #243
great to hear!

Good catch! I probably need to use lists instead of the numpy arrays in `uns`. (I created #257)

As long as they are stored in a column in `obs` it should be possible to use them in most scirpy functions by specifying the clonotype column. Clonotype network plots won't work, though, as they require the network computed by `define_clonotypes`.
With #241, 10x clonotypes should alread

[2021-03-26 12:40] ktpolanski commented on #256
Does normalisation imply dividing by the length of the sequence? If so, then that puts us pretty close to what Dandelion does, no?

[2021-03-30 09:32] zktuong commented on #256
This would put it more in line with what `immcantation`'s `ShaZam` does. Both `scirpy` and `dandelion` groups the sequences by distance first before performing the calculations, hence doesn't require length normalization.

The normalization in `ShaZam` is done as follows:
[code]
for `dist_mat`, they use a sliding window approach to bin each sequence into 5mers (replacing gaps with Ns, and padding

[2021-03-30 10:31] ktpolanski commented on #256
I think we're all talking about slightly different things. If we take the Hamming distance and divide it by sequence length, we'll obtain a "percent of mismatches" measure, which is what dandelion does. That is, if this is what OP meant by "normalised Hamming".

[2021-03-31 09:16] zktuong opened #258 "how to populate IR_*_clone_id columns?"
Hi @grst, I can't work out when in the analysis workflow is the `IR_*_clone_id` columns populated. Toggling `dual_ir` option doesn't seem to change that behaviour. Does it actually get populated from preprocessing/analysis performed within scirpy?

[2021-03-31 09:21] grst commented on #258
No, these columns would actually only get populated when reading in the
`clone_id` column from an AIRR formatted file and not flagging `clone_id`
as a cell-level attribute.
(Cell-level attributes must be the same in all records belonging to a cell
in the AIRR table, and would then only get a single column in `adata.obs`
instead of one for each chain.

But this behavior is still pretty much in the

[2021-04-01 11:43] grst commented on #258
The more I think about it: probably it's best to just use `clone_id` as the default output column for `define_clonotypes`.

[2021-04-06 21:48] jdhenaos commented on #254
The obs_names are the same. However, when I merge both, the column "samples" become into "sample_x" and a couple of new columns with the same name arise. But only one of them have the entire sample information

[2021-04-07 08:36] grst commented on #254
Providing columns that are both in `adata.obs` and `adata_ir.obs` to `on` should do the trick, i.e.
[code]

In principle, the `merge_with_ir` function seems to work as I expected, when I use this toy example here (splitting up an existing `adata_ir` by sample, and merging it into the corresponding transcriptomics `adata` on a sample-by-sample basis):

[code]

<details>
  <summary>Output</summary>

[2021-04-07 13:50] jdhenaos commented on #254
Problem solved!

Now all info merged in the previously created .obs without problems.

Thanks a lot!

[2021-04-07 13:50] #254 closed

[2021-04-07 15:03] grst commented on #249
never mind, everything appears to work with pandas 1.2.3.

[2021-04-07 15:03] #249 closed

[2021-04-07 15:20] grst commented on #257
This issue only appears with h5py >= 3.
See also https://github.com/theislab/anndata/issues/493

[2021-04-07 15:55] #237 closed

[2021-04-07 17:11] #215 closed

[2021-04-07 17:11] #242 closed

[2021-04-07 17:11] #253 closed

[2021-04-07 17:11] #255 closed

[2021-04-07 17:11] #257 closed

[2021-04-07 17:11] #258 closed

[2021-04-07 17:21] grst commented on #253
Hi @diitaz93,

#241 is now merged into master, a release follows probably end of April.
I'd be happy about feedback -- If you want to give it a try you can install the development version using
[code]
The docs of the development version are available [here](https://icbi-lab.github.io/scirpy/develop/index.html).

In #241, I changed the scirpy data structure to use AIRR Rearrangement column names ev

[2021-04-07 17:24] grst commented on #242
Hi @chris-rands,

#241 is now merged into master, a release follows probably end of April.
I'd be happy about feedback -- If you want to give it a try you can install the development version using
[code]
The docs of the development version are available [here](https://icbi-lab.github.io/scirpy/develop/index.html).

In #241, I changed the scirpy data structure to use AIRR Rearrangement column names

[2021-04-07 17:25] grst commented on #215
`define_clonotypes` and `define_clontype_clusters` now issue a `INFO` log message where the clonotype info is stored. This is now on the master branch and will be included in the release I plan for end of April.

[2021-04-07 17:31] grst commented on #132
I am closing this as scirpy now includes an interface to [Dandelion](https://github.com/zktuong/dandelion), which provides
convenient wrappers about [Immcantation tools](https://immcantation.readthedocs.io/en/stable/) which should
cover most of the use-cases discussed above.

If anyone has more specific requests/ideas regarding BCR analysis, feel free to open a separate issue.

[2021-04-07 17:31] #132 closed

[2021-04-07 17:35] grst commented on #196
Can be performed using dandelion.

[2021-04-07 17:35] #196 closed

[2021-04-07 17:36] grst commented on #197
Can be performed using dandelion

[2021-04-07 17:36] #197 closed

[2021-04-07 17:39] grst commented on #185
CDR1 and CDR2 can now be imported into scirpy from AIRR compliant files.
Including them into `ir_dist` is possible, but increases the runtime further and there seems currently be no demand for this feature.

If anyone finds this, feel free to drop a note if you are interested, and we can discuss this further.

[2021-04-07 17:39] #185 closed

[2021-04-08 21:36] chris-rands commented on #242
Thanks @grst, sounds great, I'll try to take a look soon. I had good experience with the previous dev iteration you pointed me towards- it scales well with >300K TCRs. BTW #54 would be a really nice feature in my view (although tricky to validate epitope predictions)

[2021-04-09 07:20] grst commented on #242
Great!

I agree, but not sure when I'll have time to tackle it.

In the meantime, you can build something like that manually using [`sequence_dist`](https://icbi-lab.github.io/scirpy/develop/generated/scirpy.ir_dist.sequence_dist.html#scirpy.ir_dist.sequence_dist) -- it allows you to compute a distance matrix for two arbitrary sets of distances. One could be a column from `adata.obs`, the other a

[2021-04-12 11:28] chris-rands commented on #242
@grst with the dev version I'm getting an error while running `ir.tl.clonotype_network(adata)` (note I only have TCR data loaded, no matched RNA-seq)

[code]

If I do `coord_df = ir.tl.clonotype_network(adata, inplace=False)` I can see additional cell barcodes prefix, but unsure how to fix it
[code]

I'll create a separate issue if needed thanks

I'll drop a note on #54 later

[2021-04-12 11:31] grst commented on #242
Thanks for testing and for reporting! Would be great if you could open a separate issue!

[2021-04-12 12:10] chris-rands opened #260 "ir.tl.clonotype_network() returns ValueError: value.index does not match parent’s axis 0 names"
I'm getting an error while running `ir.tl.clonotype_network(adata)` using the github dev version (can provide the commit hash if needed). Note I only have TCR data loaded, no matched RNA-seq
[code]

Spun out from https://github.com/icbi-lab/scirpy/issues/242#issuecomment-817732637 - thanks

[2021-04-12 12:20] grst commented on #260
Hmm, looking at the comparison of indexes you posted in #242, it seems like `adata.var_names_make_unique()` was called somewhere. The weird thing is that the var_names of `coord_df` are unique, and I definitely don't call `var_names_make_unique` in the scirpy code.

What does `adata.var_names` look like and does it match `adata.obsm.dim_names`?

[2021-04-12 12:35] grst commented on #260
And you shouldn't even be able to `define_clonotypes` with non-unique `obs_names` :thinking:

https://github.com/icbi-lab/scirpy/blob/fa5f6028c7f61e1e0fa06d2c2b3c61b646c626e4/scirpy/ir_dist/_clonotype_neighbors.py#L72-L73

[2021-04-12 18:19] chris-rands commented on #260
Thanks @grst and apologies I've not been very clear- I have an examples of the error here- can you reproduce?

[code]

[2021-04-12 18:31] grst commented on #260
Perfect, thanks!
I'll look into it.

[2021-04-13 09:44] grst commented on #260
It seems the problem is due to a bug in anndata, which has been fixed in anndata=0.7.6 (just released 2 days ago).
Can you try updating and check if this fixes the problem?

I'll make sure to pin anndata 0.7.6 in the requirements.

[2021-04-13 12:08] chris-rands commented on #260
Thank you, yes, I can confirm that fixes the issue

But unfortunately the `adatas.write("test.h5ad")` fails with the example above
[code]

h5py version '3.2.1'

[2021-04-13 12:21] grst commented on #190
Anndata supports now categoricals with `nan` values.

There are still some issues with anndata saving booleans.
Also anndata can't save object dtypes, so we need to make sure to convert those to categoricals appropriately.

[2021-04-13 12:58] #260 closed

[2021-04-13 12:59] grst commented on #260
Should be fixed now.

[2021-04-13 13:40] chris-rands commented on #260
Excellent thanks

[2021-04-13 16:51] chris-rands commented on #260
Another .write() fail after `ir.pl.clonotype_imbalance(adatas, replicate_col="sample", case_label="Lung1", groupby="patient")`
[code]

Just reporting it, no a big issue for me as a user, probably another unit test could catch these cases :)

[2021-04-19 18:30] diitaz93 commented on #253
Hi @grst,
Sorry for the late response. I have tested the development version as in the tutorial and everything works fine. I saw that the previous error now returns a warning if the expression (now `consensus_count`) is missing, which I think is a great idea.

In the Loading tutorial, in the part of [importing data in other formats](https://icbi-lab.github.io/scirpy/develop/tutorials/tutorial_io.h

[2021-04-23 14:04] gokceneraslan opened #262 "Outdated documentation"
Hi there,

Thanks for this cool package. Just wanted to report that the documentation is outdated regarding the "receptor_arms" parameter:

<img width="413" alt="image" src="https://user-images.githubusercontent.com/1140359/115879647-e6e67c80-a417-11eb-9a7b-22d2ad786b1d.png">

[2021-04-28 08:57] grst commented on #253
Good catch, fixed in https://github.com/icbi-lab/scirpy/pull/263!

[2021-04-28 09:49] #262 closed

[2021-04-28 09:51] grst commented on #262
Thanks for reporting! Should be fixed now.

[2021-04-29 10:29] leoqiang opened #267 "access to v0.6.1 documentation"
Hello, the dev team of scirpy.

Thank a lot for developing such a nice tools for VDJ seq analysis system.

We are actively using it. However, I have a problem. With the latest release of v0.7.0, the documentation site is updated accordingly. However, not yet able to update to the latest version, we are still using v0.6.1 version in our analysis. Unfortunately, due to the big changes introduced, th

[2021-04-29 11:10] grst commented on #267
Hi Qiang,

sorry about the inconvenience, the documentation 0.6.1 is already available here: https://icbi-lab.github.io/scirpy/tags/v0.6.1/.
But I need to add links to the older versions somewhere.

[2021-04-29 11:34] leoqiang commented on #267
Thank you very much for the swift reply.

[2021-05-11 02:05] samcwj opened #268 "Error in scirpy.pp.merge_airr_chains()"
Hi! I'm new to scanpy and scirpy. I've encountered an error while trying to merge 10x 5'GEx, BCR and TCR datasets. The first merge of BCR with 5'GEx using scirpy.pp.merge_with_ir() was successful, but adding on the TCR after that was not. This is the error:

[code]

Would appreciate some help in understanding the error! Thank you so much!

[2021-05-11 09:09] samcwj commented on #268
Thank you so much for the quick reply Gregor! The merging works now!

Maybe just for context, I loaded my BCR and TCR data using the 10x filtered_contig_annotations.csv files, so the columns for "is_cell" and "high_confidence" are all True. My 5'GEx data contains cells other than B and T cells. Perhaps that might be the cause of the labelling is_cell = "None" during the merger. In any case, thank

[2021-05-17 21:42] akk01 opened #269 "has_ir: True and None but not False is plotted"
![download](https://user-images.githubusercontent.com/25061318/118560063-eb603580-b736-11eb-8abe-c2ea7cb4e375.png)
In this plot, all I could see is True (Blue) and None (Orange), but looking at obs, it also contains False. Should I expect to see all three- True, False and None in the plot.

`adata_tcr.obs['has_ir'].drop_duplicates()` gives following:

`obs_names`
`AAACCTGAGCGATAGC-1    True`
`Name

[2021-05-18 06:36] grst commented on #269
Hi @akk01,

this might have an easy explanation: The `categorical dtype` is prepared to take the values `True`, `None`, `False`, but that doesn't mean that all categories are actually present.

Can you please report:

[code]

and

[code]

Cheers,
Gregor

[2021-05-18 13:38] akk01 commented on #269
`adata.obs["has_ir"].value_counts()`

True     5308
None     5240
False       0
Name: has_ir, dtype: int64

`adata.obs["has_ir"].dtype`
CategoricalDtype(categories=['True', 'False', 'None'], ordered=False)

Thanks!

[2021-05-18 13:48] grst commented on #269
`None` means the IR data does not contain the respective cell at all. `False` means that the IR data
contains the cell, but no productive CDR3 sequences. If I remember correctly, that latter won't occur when working with filtered 10x data.

[2021-05-18 14:19] akk01 commented on #269
Thansk!

[2021-05-18 14:19] #269 closed

[2021-05-31 06:35] FFinotello commented on #54
A nice model available via immunarch: https://immunarch.com/articles/web_only/v11_db.html

[2021-06-07 08:44] ddemaeyer opened #270 "Problems reloading saved h5ad and clonotype networks"
I'm performing an analysis using scirpy in combination with h5ad. After generating the clonotype networks the data is stored on disk. When reloading the data I run into the following error:

[code]

I tried regenerating the identity network, but this results in the same error. Any ideas?

KR
Dries

[2021-06-07 08:50] grst commented on #270
Hi @ddemaeyer,

thanks for reporting this!
Can you please provide the versions of all packages?

[code]

[2021-06-07 08:59] ddemaeyer commented on #270
[code]

Update to 1.7.2 first and then see? Or will I best rerun the clonotyping (painful since this is 5 hours compute)?

[2021-06-07 09:03] ddemaeyer commented on #270
Reloading using 1.7.2 remains the same, I will restart the scirpy analysis with a 1.7.2 environment and see what happens when redoing the save and reload.

[2021-06-07 09:08] grst commented on #270
Can you please report the `dtypes` of all columns in `adata.obsm["X_clonotype_network"]`?

e.g.
[code]

It seems something gets saved as `str` while it should be `int`. I also believe that simply rerunning `tl.clonotype_network` should be enough, no need to redo the clonotype definition.

[2021-06-07 09:19] ddemaeyer commented on #270
I have been looking as well, but this seems to be ok

[code]

[2021-06-07 09:25] grst commented on #270
I've been sloppy... the offending column is `dist_idx` in the [aggregated dataframe](https://github.com/icbi-lab/scirpy/blob/0f0b28243ee9db5e0bf1ffac24d78dbed83cb628/scirpy/_tools/_clonotypes.py#L589). Which [originates from](https://github.com/icbi-lab/scirpy/blob/0f0b28243ee9db5e0bf1ffac24d78dbed83cb628/scirpy/_tools/_clonotypes.py#L577-L582) `adata.uns[<clonotype_key>]["cell_indices"]`.

Could

[2021-06-07 10:04] ddemaeyer commented on #270
The keys are indeed strings instead of ints

I did `data.uns["clone_id"]["cell_indices"] = {int(k):v for k,v in data.uns["clone_id"]["cell_indices"].items()}`, however the problem remains.

[2021-06-07 11:06] grst commented on #270
I think it's an issue with how `h5py` serializes dicts. I'll look into that...
One last thing: what's your version of `h5py`?

[2021-06-14 06:21] andreas-wilm opened #271 "Concat: attribute feature_types disspears"
Hi all,

I ran into two related problems with `concat()` and am not sure if the behaviour is as intended and I just don't get it or whether this is a bug.

The scenario is as follows: I'm loading several samples with `read_10x_h5(.., gex_only=False)` because my samples contains "Gene Expression" and "Antibody Capture" data. The adatas eventually get merged with `concat()` as shown in https://icbi-

[2021-06-14 08:43] grst commented on #271
Hi Andreas,

thanks for reporting!

I don't think that the problem is within `concat` (If it was, it would be an anndata bug). Can you show in more detail how you load the IR data and merge it with the transcriptomics data. I would suspect the problem lies with `merge_with_ir` or `merge_airr_chains`.

This indeed seems to be an anndata-related question and might be better asked there. But I suspec

[2021-06-14 14:45] FFinotello commented on #54
Hello @grst!

Besides the three databases listed in the link above (VDJDB, McPAS-TCR, PIRD), other possible resources are:

- IEDB
- The [MAIT reference database](http://www.cbs.dtu.dk/services/MAIT_Match/MAIT_DB_update.php) with invariant CDR3
- The [Adaptive Biotechnology database](www.adaptivebiotech.com/pub/Dean), used to identify (and exclude) public clonotypes shared between unrelated indivi

[2021-06-15 08:37] andreas-wilm commented on #271
Thanks for the prompt reply Gregor. Thanks also for the pointer to the inner and outer join section of AnnData. This sounds like it will solve my second problem.

Please see below for a code snippet. I followed the [Scirpy tutorial](https://icbi-lab.github.io/scirpy/tutorials/tutorial_io.html).

    adatas = []
    for sample in samples:
        fvdj = ...
        fgexfbc = ...

        adata_tcr

[2021-06-16 13:06] grst commented on #271
It seems `adata.concat(..., merge="same")` does the trick. By default anndata discards all variables that are not on the axis that is being aligned.

I would have expected this to be the default, too, but probably there were reasons why the anndata developers decided against it.

In any case, this time it's not scirpy's fault (:tada:), so I'm closing the issue.

[2021-06-16 13:06] #271 closed

[2021-06-18 02:59] andreas-wilm commented on #271
That's it! `merge="same"` did the trick indeed. Thanks so much for your help!

[2021-06-29 21:15] naity opened #272 "Changing overlap_measure doesn't seem to influence ir.tl.repertoire_overlap results"
Hi scirpy team,

First, thank you for developing such an amazing package!

I'm using the `ir.tl.repertoire_overlap` function, but the results are the same whether I use the default setting for `overlap_measure` or changing it to say "correlation". Could you please let me know what might be the reason for this?

Thanks very much,
Yuan

![image](https://user-images.githubusercontent.com/10420007/123

[2021-06-29 21:19] naity commented on #272
I think I need to look at dst not df for the overlaps. Sorry about that.

[2021-06-29 21:19] #272 closed

[2021-06-30 11:24] #268 closed

[2021-06-30 11:25] grst commented on #268
Hi @samcwj,

the issue should be solved in the latest development version.
You can install it using

[code]

Would be amazing if you could give it a try!

Cheers,
Gregor

[2021-06-30 13:52] #270 closed

[2021-06-30 13:53] grst commented on #270
Hi @ddemaeyer,

the issue should be solved in the latest development version.
You can install it using

[code]

Would be amazing if you could give it a try!

Cheers,
Gregor

[2021-06-30 14:20] #267 closed

[2021-06-30 14:21] grst commented on #267
I closed this as the docs of the development version now contain a list of previous versions.

I'll leave this issue pinned until I release the next version and it will be present in the main docs.

[2021-06-30 23:32] naity opened #276 "Additional TCR diversity metrics besides alpha_diversity?"
Hi scirpy team,

I was wondering if more TCR diversity metrics such as inverse Simpson index could be added to scirpy in addition to alpha_diversity? Thanks very much!

[2021-07-01 06:14] grst commented on #276
Hi @naity,

thanks for the suggestions!

It should be rather easy to support [these additional metrics](http://scikit-bio.org/docs/0.4.2/generated/skbio.diversity.alpha.html#module-skbio.diversity.alpha) by relying on scikit-bio. Would that suit your needs?

One additional challenge with single-cell data is that some of the metrics strongly depend on the number of cells per sample (e.g. shannon en

[2021-07-01 16:54] naity commented on #276
Yes, that would be very useful! There are additional metrics such as D50 and hill numbers, which I didn't find on scikit-bio but are supported by packages like immunarch (https://immunarch.com/reference/repDiversity.html). Thank you!

[2021-07-02 03:45] naity commented on #276
Hi @grst,

I have modified the `alpha_diversity` function to include a version of the D50 metric as below. Would you be interested in this? If so, I would be happy to contribute more and potentially submit a PR:

[code]

[2021-07-02 07:11] grst commented on #276
PR would be cool!
I can then finalize it and also add the skbio metrics (or feel free to add those yourself, if you feel like :) )

[2021-07-02 07:57] chris-rands commented on #276
+1 for the gini index as applied here https://www.nature.com/articles/s41591-021-01329-2

[2021-07-02 10:21] ddemaeyer commented on #270
Confirmed resolved, loading the exact same dataset works now (y)

[2021-07-02 17:03] naity commented on #276
Great point, thanks Chris! It would be great if we could collaborate on this!

[2021-07-02 21:59] naity commented on #276
Hi @grst,

I submitted a PR to include D50 and `skbio`'s diversity metrics, and `normalized shannon entropy` is still the default. Would love to hear your thoughts.

Thanks very much!

[2021-07-07 15:28] grst opened #278 "Create developer docs"
Should contain:

 * Install developer dependencies
 * black / pre-commit tips & tricks
 * How to test locally
 * How to build docs
 * Continuous integration & how to obtain the built docs from the CI

Most of it is actually identical to [scanpy](https://scanpy.readthedocs.io/en/stable/dev/documentation.html).
However, I think for scirpy a more concise version is more suitable, linking to scanpy wh

[2021-07-08 09:08] vladie0 opened #279 "Compatibility with Cell Ranger 6"
Dear developers,

the new release of cell ranger incooporated some changes in the annotation of the contig files.

contig csv header cell ranger 5.X:
barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,d_gene,j_gene,c_gene,full_length,productive,cdr3,cdr3_nt,reads,umis,raw_clonotype_id,raw_consensus_id

contig csv header cell ranger 6.X
barcode	is_cell	contig_id	high_confidence	length	ch

[2021-07-08 09:17] grst commented on #279
Hi @vladie0,

thanks for pointing that out, I'll look into it.
Shouldn't cellranger by now also output AIRR files? Have you tried those with `read_airr`?

Cheers,
Gregor

Note to self: example files are available at https://www.10xgenomics.com/resources/datasets/integrated-gex-and-vdj-analysis-of-connect-generated-library-from-mouse-pbmcs-

[2021-07-09 09:59] iommuno opened #280 "Import read_airr error"
Hi Gregor,

Thanks for developing and maintaining this cool tool!

I ran into an error while importing scTCR-seq data with the read_airr function (see below; for the data I sent you a link via email). The cell (cell_id = AACCGAAAGCT) from the error message has three TRB and two TRA sequences assigned to it, but only one functional TRA & TRB sequence that cover the CDR3 region (I attached the igbla

[2021-07-12 13:19] grst commented on #280
Hi Ioanna,

thanks for reporting this issue and for providing the example data! I can reproduce the error.

The issue here seems to be that for this specific cell, some sequences are labelled as productive, even though they have
no `junction_aa` sequence annotated:

[code]

While, afaik `junction_aa` sequences are not strictly required for AIRR compliance, it does not make a lot of sense to work
w

[2021-07-13 13:01] iommuno commented on #280
Hi Gregor,

Thank you for explaining what was going on! The import works now.
I’d say a detailed error message would be enough for now. But maybe if other people run into the same issue and comment here, you could consider including that in the import function. :-)

Best,
Ioanna

[2021-07-13 14:56] grst commented on #280
I'll try to include such a warning in the next release, then!

Just to get an idea how common the issue could be: What sequencing platform, or rather preprocessing pipeline, did you get your AIRR data from?

[2021-07-13 15:04] iommuno commented on #280
Sounds good! This was seq-well data, pre-processed with cutadapt & pRESTO and aligned with igblast.

[2021-07-14 06:20] #276 closed

[2021-07-14 11:51] grst commented on #279
Using the example files, the import works for me without error. So you would like scirpy to also import the additional columns (`fwr_{1,2,3,4}{,_nt}`, `cdr_{1,2}{,_nt}`)? Or am I missing something different?

[2021-07-14 11:53] #280 closed

[2021-07-14 11:55] grst commented on #280
Hi @iommuno,

it turned out ignoring those chains automatically was easier than I thought, so I went directly for this option.
The problem should be solved in the latest development version. It would be great if you could give it a try before I make a release.

You can install the development version using
[code]

Best,
Gregor

[2021-07-14 14:19] iommuno commented on #280
Hi,

I did install the development version and the import works.
I noticed that there are slight differences in the adata object, like this:

[2021-07-14 14:31] iommuno commented on #280
Hi,
I installed the development version and the import works! :thumbsup:
I noticed some slight differences in the numbers in the adata object, e.g.

`adata.obs['chain_pairing'].value_counts()  #old import`
[code]

`adata.obs['chain_pairing'].value_counts()  #new import`

[code]

Is this expected? Maybe there is a good reason for this, just wanted to let you know.

[2021-07-15 02:02] samcwj commented on #268
Hi Gregor!

So sorry for the delayed reply, I have been really busy. It works nicely now! I have merged both BCR and TCR data together with my GEx data. I will have to spend more time making sense of it, but for now, thank you so much for taking the time! Really appreciated!

Samuel

[2021-07-15 06:59] grst commented on #268
No worries! Glad it works and LMK if you encounter any other issues!

[2021-07-15 11:41] grst commented on #280
Thanks for highlighting this!
I looked into it and it seems the old version didn't exclude non-productive chains. The problem is that `pd.read_csv` didn't convert booleans correctly, which is usually handled by the `airr` library.

So the new version is correct!

Loading dataframes into `read_airr` is an unsupported feature (internally used for `io.from_dandelion`) and all datatypes need to be cor

[2021-08-01 10:48] zktuong opened #285 "TRAV/DV rearrangements"
hey @grst, this was alerted to me:

_Since the TRD locus is embedded in the TRA locus, a few TRAV genes have been found rearranged, not only as expected to TRAJ but also to TRDD-TRDJ genes. The first five Homo sapiens TRAV genes found in that case received the designation TRAV/DV (this does not exclude that other TRAV genes may be found occasionally rearranged to TRDD-TRDJ). They include Homo sapi

[2021-08-02 07:45] grst commented on #285
Thanks for letting me know! I'll look into it, but hopefully it shouldn't affect too many people anyway as most formats provide a `locus` annotation directly.

[2021-08-04 18:10] chris-rands commented on #54
Nice feature idea- could sequence alignment be combined with HLA typing info to improve the predictions?
If HLA type is unknown, could be inferred from scTCR/RNA-seq data potentially (although non-trivial)

[2021-08-05 06:27] grst commented on #54
Hi Chris,

do you have any specific method in mind that predict antigen specificity based on TCR-sequence and HLA-type?

Also pinging @abyssum, who is one of our (neo-)antigen experts.

[2021-08-05 06:50] FFinotello commented on #54
Hi @chris-rands,

Thanks for the suggestion!

We plan to link our tool to public databases to provide information on the cognate antigen, whenever this info is available.

But considering predictive methods could be a further extension. Any suggestions in this direction?

And yes, HLA-type information predicted from single-cell data (e.g. with [scHLAcount](https://pubmed.ncbi.nlm.nih.gov/32330223/

[2021-08-05 08:54] chris-rands commented on #54
Hi both, rather naively, I was thinking only report/flag alignment matches where the query and target TCR sequence have the same HLA type info to remove/label false positive predictions?

For the query, HLA type info prediction by scHLAcount looks interesting or a tool like arcasHLA for pseudo-bulk style- of course assumes there is (sc)RNA-seq data from the samples

[2021-08-19 09:13] andreas-wilm opened #286 "Using own distance matrix for clonotype_network"
Hi there,

thanks again for making this wonderful tool publicly available. I would like to know if it's possible to use my own clonotypes and clonotype distance matrix as input for the clonotype network routines? If yes, what are the required steps and which steps in [the tutorial](https://icbi-lab.github.io/scirpy/develop/tutorials/tutorial_3k_tcr.html#Compute-CDR3-neighborhood-graph-and-define-c

[2021-08-19 15:06] grst commented on #286
Hi Andreas,

this is an excellent question and the answer depends:

Using custom **clonotypes** is easy: you can just add them as column to `adata.obs`.

Providing distances between **sequences** is still rather straightforward. This replaces the call to `pp.ir_dist`.
 * You could just add a dictionary with sparse distance matrix to `adata.uns["ir_dist_{key}"]` for VJ and VDJ sequences separately.

[2021-08-24 13:11] grst commented on #160
Potentially, `clonotype_imbalance` will be made obsolte by `clonotype_modularity`.
For now, I marked `clonotype_imbalance` as deprecated with a note asking the user to switch to clonotype modularity, or drop an issue if that doesn't fit their use-case.

Let's see how that goes, in the meanwhile, `clonotype_imbalance` will remain as is.

[2021-08-25 11:16] grst commented on #285
#288 should address this, maybe you can have a quick look at the PR.

I wonder if there are more such caveats?

[2021-08-25 18:40] hchintalapudi opened #289 "merge/concatenate gene expression .h5 files"
hi,
Thanks for the amazing tool.

I'm trying to read 5 samples' airrseq files and gex files using 'ir.io.read_10x_vdj' and 'sc.read_10x_h5' respectively.
Then integrate the merged objects using 'ir.pp.merge_with_ir'
I can succesfully concatenate the airrseq data usiung '.concatenate' but I get an error when I do the same with the gex/RNAseq .h5 files.

[code]
Here's  my code:
[code]
ANy tips apppr

[2021-09-06 11:43] #285 closed

[2021-09-06 11:46] grst opened #291 "Add wrapper for conga"
It would be nice being able to run [conga](https://github.com/phbradley/conga) from scirpy.
A wrapper like `scirpy.external.tl.conga` could work.

See also https://github.com/phbradley/conga/issues/17 for some discussion.

[2021-09-06 11:53] grst commented on #289
Hi @hchintalapudi,

sorry for the delayed feedback, I was on holiday the last week.
Since you are having trouble concatenating the gene expression data, this looks more like a problem with anndata rather than with scirpy.

Yet, here are two comments on your code:

1. I would recommend to first do `merge_with_ir` on each sample, and concatenate the merged samples in the end. This ensures that if ba

[2021-09-08 19:23] hchintalapudi commented on #289
Thank you, @grst.
I'll give this a try and let you know how it goes.

[2021-09-10 16:40] hchintalapudi commented on #289
Hi, @grst
I tried the [vignette](https://icbi-lab.github.io/scirpy/latest/tutorials/tutorial_io.html) where combining multiple samples is demonstrated.
Here is my code:
[code]
I still get this error:

[code]
Any idea, what might be going wrong here?
Thanks!

[2021-09-10 16:48] grst commented on #289
I don't see an actual error message. Are you sure you didn't run out of memory or something like that?

[2021-09-10 16:50] hchintalapudi commented on #289
I do not believe so.
Also, I did not get the plot when I used "save" in sc.pl.umap()

[2021-09-10 16:52] grst commented on #289
That's why I was thinking of "out of memory". If something goes wrong within python, you should usually get an Exception with stacktrace.

[2021-09-10 17:10] hchintalapudi commented on #289
I'm running it in a script in a conda env I created just for scirpy.
I just scheduled it on Slurm to see if it's actually a memory issue, it ran without the ```Killed``` message.
I didn't know that generating that pdf would require that much memory.
Anyway, Issue solved: closing this.
Thanks again, @grst :)

[2021-09-10 17:10] #289 closed

[2021-09-10 18:46] hchintalapudi commented on #289
Hi,
Sorry to bother again.
So, for this type of integrated analysis, would it make sense to do the TCR quality control and pre-processing of the expression data within the for-loop before merging with ```ir.pp.merge_with_ir()```?
Or do the QC functions work for TCR and exp work with the merged 'adata' object?
I ask as I'm getting errors when running ```ir.tl.define_clonotype_clusters()```:
[code]

[2021-09-10 18:56] grst commented on #289
they work also on the integrated object.

The issue here is that your obs names (i.e. gene symbols) are not unique.

Try calling `adata.obs_names_make_unique()`.
Another option could be to use ensemble gene identifiers instead of gene
symbols.

Hope that helps!

On Fri, 10 Sept 2021 at 20:46, Himanshu Chintalapudi <
***@***.***> wrote:

[2021-09-10 19:31] algarji opened #295 "clonotype_modularity function?"
Hello, I am not very familiar to python, but I am trying to use scirpy to analyse some 10x TCR data. Everything worked quite good for me, but I can't run one of the most interesting options: ir.tl.clonotype_modularity(). I obtain the following error:
`ir.tl.clonotype_modularity(adata, target_col="cc_aa_alignment")`
Traceback (most recent call last):
  File "<ipython-input-96-8e57d564c99f>", line 1

[2021-09-10 20:30] hchintalapudi commented on #289
Hi,
Want some tips on another problem:
I can open a fresh issue if you want.
Basically I'm trying to plot clonotype network plots based on aa seq similarity:
[code]
And I get this fig which is cluttered and difficult to discern.
![Integrated_clonotype_network-1](https://user-images.githubusercontent.com/26474881/132913787-f3318664-cc74-4214-a87e-de7a6c164656.png)
How can I improve the figure?
Is i

[2021-09-10 20:32] grst commented on #295
The clonotype_modularity function is really new. Are you using the latest
version of scirpy?

On Fri, 10 Sept 2021 at 21:31, Álvaro García-Jiménez <
***@***.***> wrote:

[2021-09-10 20:34] grst commented on #289
The loops are due to a backwards incompatible change in the networkx
library.
This *should* be fixed in the latest version of scirpy, can you try
updating?

On Fri, 10 Sept 2021 at 22:30, Himanshu Chintalapudi <
***@***.***> wrote:

[2021-09-10 21:01] hchintalapudi commented on #289
Update to 0.9.0?
I just updated on conda and I have 0.8.0
Will that work effectively?

[2021-09-11 05:36] grst commented on #289
Update to 0.9.0?

Yes, you'll need v0.9!

I just updated on conda and I have 0.8.0

`conda upgrade --all` in your env should work. If not you can try to
install v0.9 explicitly:

`conda install "scirpy>=0.9.0"`

—

[2021-09-13 11:24] algarji commented on #295
Yes, you were right @grst , I was using an old scirpy version. However, I updated scirpy and scanpy and I still got an error:
`ir.tl.clonotype_modularity(adata, target_col="cc_aa_alignment")`
[code]

Maybe my problem should be that connectivities is not stored in adata.obsp. I read that this could be because my anndata file is not in the newest version or something and connectivities can be stored

[2021-09-13 11:31] grst commented on #295
Can you try to re-run `scanpy.pp.neighbors` before running `clonotype_modularity`?

[2021-09-13 12:26] algarji commented on #295
Yes, that definitely worked. Thank you so much, and congrats for such an amazing package @grst

[2021-09-13 12:26] #295 closed

[2021-09-16 08:38] zktuong commented on #286
I'm also interested in this. A simple usage of scirpy's plotting code is failing for me when i just put in a pre-computed distance matrix from dandelion in that edges were connecting between two clones. Maybe it's an indexing problem. I'll do a bit of further testing and show an example soon.

[2021-09-24 06:50] #279 closed

[2021-09-24 06:52] grst commented on #278
added in #294

[2021-09-24 06:52] #278 closed

[2021-09-29 09:54] andreas-wilm commented on #286
Hi Gregor, apologies it took me some time to get back to this. TCRdist3 computes distances between precompiled, user-defined clonotypes / groups of cells with the identical TCR composition, where the exact definition is up to the user.  So I guess `pp.ir_dist` and `tl.define_clonotypes` become redundant and I could try to create `adata.uns["{clonotype_key}"]` directly. I'm unclear how this is stru

[2021-09-30 09:03] grst commented on #286
Here's an example:

[code]

![image](https://user-images.githubusercontent.com/7051479/135422282-8d15c329-f5ed-4642-8f5a-6902f4d40929.png)

[2021-10-05 12:46] grst commented on #54
Another new resource:
https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkab857/6381136?rss=1

[2021-10-13 07:52] grst commented on #286
Internally, distances are converted to some sort of connectivities anyway:
https://github.com/icbi-lab/scirpy/blob/113ee731bf39c508a6cf049fd87e27fb93685811/scirpy/util/graph/__init__.py#L51-L84

However, it is currently not supported to specify `'connectivities` directly in `adata.uns["clone_id"]`. Could you elaborate on your use-case?

[2021-10-14 14:11] willblev opened #299 "Bio.Alphabet error & error when loading TCR data from TraCeR"
Hi! First off, thanks for developing such a useful package. I have been running into some issues while trying to import data from TraCeR into anndata objects using scirpy following [the Scirpy tutorial](https://icbi-lab.github.io/scirpy/latest/tutorials/tutorial_io.html?highlight=tracer#Read-Smart-seq2-data-processed-with-TraCeR).

As a quick comment, after creating a fresh Scirpy conda env, I ini

[2021-10-15 07:13] grst commented on #299
Hi @willblev,

thanks for reporting this issue!
While I think I can easily find a workaround for the Biopython issue, the second part looks a little more sinister. Essentially, the objects structure of your Tracer output seems different to what scirpy expects.

What version of tracer are you using? And is there any chance you could send me the Tracer output folder of a single cell that fails? That

[2021-10-15 11:11] willblev commented on #299
Thanks for the speedy reply @grst!

Indeed, this is what I also believed to be the problem.

I downloaded & installed TraCeR a few weeks ago ([following instructions from their GitHub repo](https://github.com/Teichlab/tracer#setup)); the repo says the most recent version is v0.6, however it appears that it actually installs TraCeR v0.5, or at least that is how it shows up in my conda env list. I w

[2021-10-27 19:00] grst opened #301 "Update sphinx to 4.x"
May solve the current issue with the docs and should now be possible as scanpy uses it.

[2021-11-05 05:27] andrewni4313 opened #302 "clonotype_imbalance() Value Error: length of values does not match index"
Hi there!

First off, thanks for developing such a great package. Right now, I am having an issue when trying to run clonotype_imbalance()

`df, dst, lk = ir.tl.repertoire_overlap(adata, groupby="cluster", inplace=False)`

[code]

Not using clone_id as target_col and replacing it with something else, however, works:
`df, dst, lk = ir.tl.repertoire_overlap(adata, groupby="cluster", target_col="tumo

[2021-11-05 05:34] andrewni4313 opened #303 "define_clonotype_clusters() errors when same_v_gene=True"
Hi there!

I ran into an issue when trying to define clonotypes by including V-gene in the clonotype definition.

It works with same_v_gene=False:

[code]

But errors with same_v_gene=True:

[code]

[code]

Not sure if it's important but I am using 10x data. Any ideas?

Thanks,
Andrew

[2021-11-07 10:34] grst opened #304 "Speed up ir_dist"
Parasail is highly optimized - but it is invoked for every sequence individually from Python which creates a bottleneck.
We could solve this issue by integrating with external tools that have been developed for scalable comparison of immune-cell repertoires (both for levenshtein and alignment distance).

Possible methods to consider
 - [ ] MMSeqs2: Originally designed for metagenomics, this is a v

[2021-11-07 10:57] grst commented on #303
Hi Andrew,

thanks for reporting this issue!

I have a suspicion what could be causing this, to confirm, could you please execute the following code right before the error occurs and report the result?

[code]

Cheers,
Gregor

[2021-11-07 16:21] grst commented on #302
:100: Good catch!

This should work with the patch in #305. Could you please give it a try and report if it solves the problem?
You can install it with

[code]

[2021-11-07 16:22] grst commented on #302
btw, are you also experiencing issues with `clonotype_imbalance` or is that a mistake in the issue title?

[2021-11-07 20:53] andrewni4313 commented on #303
Here is the output:

[code]

[2021-11-07 21:28] andrewni4313 commented on #302
Sorry about the title I meant to write `repertoire_overlap` (Although I do experience the same issue since `clonotype_imbalance` automatically runs `repertoire_overlap` since it failed previously)

Installing the new patch works perfectly for both!

Thank you so much,
Andrew

[2021-11-07 21:28] #302 closed

[2021-11-08 18:36] #301 closed

[2021-11-08 19:09] grst commented on #303
Should be fixed in https://github.com/icbi-lab/scirpy/commit/b55062eac434ce8e81db0c392133a34dd28d5127.

Could you please test it by again installing the latest version from the feature branch?
[code]

[2021-11-13 13:34] grst commented on #304
Calculating distances with mmseqs2 seems feasible. The alignment is ~30x faster compared to parasail. There will be some overhead for transforming the alignment scores into distances and for reading in the results, but we will likely end up somewhere >10x speedup, which sounds worthwile.

TODOs
- [ ] split up `alignment` metric into `alignment_parasail` and `alignment_mmseqs2`; `alignment` will be

[2021-11-15 09:58] #303 closed

[2021-11-15 12:47] #54 closed

[2021-11-15 20:01] grst commented on #54
This is now available in v0.10.0. Matching HLA-types (if available) is possible with the `match_columns` argument of `ir_query`.

[2021-11-15 20:04] grst opened #308 "Add more epitope databases to `datasets`"
List adapted from #54.

 - [x] VDJDB
 - [ ] huARdb https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkab857/6381136?rss=1
 - [ ] McPAS-TCR
 - [ ] PIRD
 - [ ] IEDB
 - [ ] The [MAIT reference database](http://www.cbs.dtu.dk/services/MAIT_Match/MAIT_DB_update.php) with invariant CDR3
 - [ ] The [Adaptive Biotechnology database](www.adaptivebiotech.com/pub/Dean), used to identify (and excl

[2021-11-15 21:13] chris-rands commented on #54
Thanks! I will test it

[2021-11-16 13:18] ddemaeyer opened #309 "Error reading 10x vdj all annotations for CR6"
Reading all_contigs_annotation.csv from CR6. The problem is that the junction_aa is nan and this is not taken into account in the code.

[code]

[2021-11-22 09:49] #309 closed

[2021-11-25 11:51] grst opened #312 "In tl.clonal_expansion replace `clip_at` with `breakpoints`"
For datasets with higher clonal expansion, it would be great to define custom breakpoints (e.g. 1,2,5,10,20,50) for clonal expansion rather than the 1,2,3,...,>=n that is currently possible with `clip_at`.

[2021-11-26 15:36] grst commented on #312
Note that the corresponding `group_abundance` then needs to `natsort` the legend. Show an example with `viridis` colorscale.

Maybe combine fixing this with #232

[2021-11-26 15:36] grst commented on #232
Related #186

[2021-12-02 20:09] davisidarta opened #313 "Does scirpy use dim reductions to learn clonotypes? - Critical differences between results on full Wu data"
Hi! Thank you for developing this great library!

I'm analyzing the Wu dataset as [provided](https://icbi-lab.github.io/scirpy-paper/wu2020.html) for Scirpy's manuscript. I'm using new dimensionality reduction methods and found a strikingly higher diversity of T cells in numerous scRNAseq datasets containing T cells, and am using Scirpy to find out if this translates to clonal heterogeneity.

Now,

[2021-12-03 07:54] grst commented on #313
Hi @davisidarta,

thanks for reaching out!

Sorry, I'm not sure: what other results are you referring to?

For defining clonotypes, scirpy only uses the CDR3 sequence information, and, optionally, the V-genes.
Information derived from transcriptomics data (in particular the neighborhood graph) are only used for the `tl.clonotype_modularity` feature.

Best,
Gregor

[2021-12-03 14:04] davisidarta commented on #313
[These](https://icbi-lab.github.io/scirpy-paper/wu2020.html), found in Scirpy documentation.
![image](https://user-images.githubusercontent.com/44589562/144615282-eccf4934-28b8-4402-b005-89108d0ac9e1.png)

Information derived from transcriptomics data (in particular the neighborhood graph) are only used for the tl.clonotype_modularity feature.

Thank you for clarifying this point! So most probably

[2021-12-03 14:04] #313 closed

[2021-12-03 17:44] grst commented on #313
This is likely just a difference in thresholds for the visualization. The plots from that notebook only show clonotypes with >50 cells.
The actual clonotypes should still be quite similar.

[2021-12-16 21:44] chris-rands commented on #54
It worked well for me, thanks again

[2021-12-17 11:09] GouQiao commented on #231
　HI@grst

I am also interested in using seurat for scRNAseq, but using scirpy for scTCR.
After combining the data of transcriptome and TCR in scirpy, I want to back to seurat for data merge with multiple samples, do Umap and other analysis. But I met problem when I convert h5ad to seurat. I am not sure is this the problem because I add TCR information or not.
Do you know how to solve the switchove

[2021-12-17 11:45] grst commented on #231
Hi @GouQiao,

how are you importing the `h5ad` object into seurat? There are several ways of doing that and neither way worked flawlessly for me in the past :/

Since all information you need is usually just some annotations in `adata.obs`, a way that should definitely work is to export `adata.obs` to a csv file, and manually load the columns you need into your Seurat object.

Cheers,
Gregor

[2021-12-20 02:23] GouQiao commented on #231
Hi,
Thanks for your quick reply.
You mean after extracting adata.obs by adata.obs.to_csv, then add obs information by AddMetadata in seurat?

Gou

[2021-12-20 05:03] GouQiao commented on #231
HI.
Have you solved the problem?

[2021-12-20 05:23] GouQiao opened #314 "Questions about combine gene expression and TCR expression"
Hi,

I want to analyze scTCR after processing of Seurat. During Seurat, i will merge two samples in one object. Then I want to convert seurat object into h5ad anndata to perform TCR analysis by scirpy.
But how can I combine merged gene expression and individual TCR information? Is this possible? or I have to firstly combine gene and TCR,  change to seurat, then back to h5ad for TCR analysis??  (Be

[2021-12-20 07:48] grst commented on #231
exactely!

[2021-12-20 07:52] grst commented on #314
I'm not sure if I got what the problem is here...

So you are loading Expression data from multiple individuals that you combined in Seurat and then want to add the TCR information in scirpy?

You are writing "individual TCR information", so is it important for you to analyse every patient individually, or are you just looking for how to combine the TCR information from all individuals with your (

[2021-12-20 08:02] GouQiao commented on #314
Yes!! I merged the transcriptome data in Seurat, then I want to combine TCR information with the merged seurat object. But TCR data is individual for each group....Is there a way to combine individual TCR data with merged seurat object??? Or from the beginning I should combine TCR data with transcriptome data individually, then I merge for seurat analysis?

[2021-12-20 08:04] GouQiao commented on #231
Thanks for reply.
I tried this way, but I could not do PCA or Umap for seurat after this...

[2021-12-20 08:09] grst commented on #314
In principle, both should work! You can do so with the `anndata.concat` and `scirpy.io.merge_with_ir` functions as descirbed in the [data loading tutorial](https://icbi-lab.github.io/scirpy/latest/tutorials/tutorial_io.html#Combining-multiple-samples).

There is one slight advantage of this strategy:

It could happen that cell barcodes are not unique between samples. Scanpy (and I guess seurat has

[2021-12-20 08:34] grst commented on #231
Are you trying to plot PCA and UMAP in Seurat or in Scanpy?
I'm a bit confused, because adding an additional Metadata variable in
seurat shouldn't affect the UMAP or PCA plots at all.

On Mon, 20 Dec 2021 at 09:04, Qiao ***@***.***> wrote:

[2021-12-20 09:31] GouQiao commented on #231
Maybe I did something wrong. I used addmeta funtion, but I found the characters become NA value.
If you dont mind, could you share the codes for add scirpy TCR into seurat object?
Thank you!

adata.obs.to_csv("Thy_scTCR.csv")
Thy_obs<-read.csv("Thy_scTCR.csv")
Thyctl<-AddMetaData(Thyctl,Thy_obs)

                   orig.ident nCount_RNA nFeature_RNA    X is_cell high_confidence multi_chain extra_c

[2021-12-20 09:37] GouQiao commented on #314
If it is possible, how to combine individual TCR data with merged seurat object?

[2021-12-20 11:11] grst commented on #231
I have never done that myself, as I practically never work with Seurat.

I would suspect that the cell-barcodes don't match between your csv file and the Seurat object and this is causing the NAs. So maybe you can investigate that

[2021-12-22 08:13] GouQiao opened #315 "rank_gene : if the clonotype only have one sample"
Hi.
I successfully run the TCR analysis with scirpy.It is wonderful !
But I have one question about sc.tl.rank_genes_groups.
If the clonotype only have one sample, and I want to list the top genes.How should we change the parameter?
Thank you.

Best.

[2021-12-22 10:04] grst commented on #315
Hi @GouQiao,

I'm not sure what you are trying to compare with what... Could you please show a code snippet what you are currently trying?

[2022-01-12 11:58] grst commented on #190
Anndata now also supports nullable booleans: https://github.com/theislab/anndata/issues/504#issuecomment-1010352216

Nullable strings are still not supported (https://github.com/theislab/anndata/issues/679), but less important since categoricals are better in almost all cases anyway.

[2022-01-13 14:19] grst opened #318 "Improve clonotype network plot with plotAtlas"
Networkx now offers an "Atlas" example which could be useful for making nicer, packed plots that the current approach using "squarify". Not sure how it handles node sizes and probably the performance is not as good if there are many clonotypes, but it's definitely worth a look:

https://networkx.org/documentation/stable/auto_examples/graphviz_layout/plot_atlas.html#sphx-glr-auto-examples-graphviz-

[2022-01-31 04:58] GouQiao opened #320 "NAs in the TCR VJ usage"
Dear scirpy developer,

Thank you to develop this amazing pacakage for analyzing the scTCR.
I have one question about the results.  When I analyzed the data with multiple clusters with different conditions, the analysis went successfully. But if I only analyze one cluster with different conditions, I couldn't go through ir.tl.chain_qc(adata), which showed:

[code]

Then I just skipped to VJ and VD

[2022-01-31 07:51] grst commented on #320
Hi @GouQiao,

thanks for raising the issue!

There seems to be a problem with the input data (there is a CDR3 amino acid sequence, but it was not detected as a receptor, which up to now, I believed should never happen). How was that data generated (10x?) and how do you load it into scirpy?

This is not too unexpected, especially if you skip the QC part - for some cells the TCR reconstruction tools

[2022-01-31 08:55] GouQiao commented on #320
Hi Grst,

Thank you for the reply!
I load the data from seurat processed rds and then convert to h5ad. Is this the reason?

Best.

[2022-01-31 08:58] grst commented on #320
Also the TCR data? How do you do that?
(The gene expression data should not matter, and it's perfectly fine to import it from Seurat)

[2022-01-31 09:01] GouQiao commented on #320
Yes also TCR data. I extract the TCR data as metadata. So the obs actually looks fine.

[2022-01-31 18:39] grst commented on #320
The value of `adata.obs['has_ir']` is incorrect somewhere. How do you read the TCR data into Seurat?

[2022-02-01 01:17] GouQiao commented on #320
Firstly, I merge the gene expression data and TCR data by scirpy, then I convert to seurat rds file for further analysis. After finishing in scirpy, I converted rds to h5ad for TCR analysis.

[2022-02-01 09:43] grst commented on #320
I see!
Could you check if the same thing happens if you use the merged data directly, without converting to Seurat?

Like that we can check if something goes wrong during the conversion, or already during reading in the data.

[2022-02-01 10:02] GouQiao commented on #320
Actually I do the same thing for another dataset. It works perfectly!
The only difference is , this dataset only contains one cluster , and the worked dataset have multi-clusters.
So I think is this because of this?

[2022-02-02 09:37] FFinotello opened #321 "Remove unused labels from antigen-annotated clonotype networks"
In antigen-annotated clonotype networks, we could have an option to remove from the legend the labels that are not present in the plot. It would make it easier to spot the correct color by eye without having too many, similar color levels in the palette.

[2022-02-08 08:43] GouQiao commented on #320
Hi Gregor,

Sorry to bother you again.
But do you have any idea to solve this problem?

Best.

[2022-02-09 10:24] grst commented on #320
Sorry for the delay!

I doubt that's the problem

Have you tried that out?

[2022-02-15 01:21] GouQiao commented on #320
Hi Gregor,

Because my aim is to compare the TCR repertoire of interested cluster under two different conditions. I am now thinking instead of subsetting the interested cluster in seurat, I should subset this cluster after QC in scirpy.  I will try this way first ! Thank you!

[2022-02-17 17:17] Ngort opened #322 "Instead of "IR_VJ_1_consensus_count", include "IR_VJ_1_consensus_umis" and "IR_VJ_1_consensus_reads""
Count is a misleading term that most folks would interpret as UMIs, but when contrasting with the 10X vdj files, it actually means reads supporting a consensus. I think there should be two separate columns, one for UMIs and one for reads. At the very least, "count" should be replaced with "reads".

Also: are clonotypes and chain types determined by reads or by UMIs?

[2022-02-18 07:03] grst commented on #322
Hi @Ngort,

we didn't come up with those names, they are part of the [AIRR rearrangement standard](https://docs.airr-community.org/en/latest/datarep/rearrangements.html#fields). While the names may not be the most intuitive, they are well-defined and used across many different tools.
 * `consensus_count` = UMI count
 * `duplicate_count` = Read count

You mean, which chains are selected, if there a

[2022-02-18 19:33] Ngort commented on #322
Hi @grst,
Thanks for replying. Now that you say it, it's true that they do map to consensus and duplicate counts. However, in my case they map the other way around:

`
.airr
reads | umis
878 | 2

consensus_count | duplicate_count
878 | 2
`
I'm assuming this is expected behavior.

[2022-02-18 19:33] #322 closed, assigned to nobody

[2022-02-22 08:44] grst commented on #322
There we have it... I said the names were confusing.

This issue clarifies it: https://github.com/airr-community/airr-standards/issues/161.
I was wrong in the comment above and your last comment and the implementation in scirpy are correct.

[2022-02-25 04:43] andreas-wilm commented on #286
Apologies. I just came across this open issue again which I had left orphaned. Sorry again. I don't remember all the details, but at least for my ["weird plot" issue](https://github.com/icbi-lab/scirpy/issues/286#issuecomment-945556652) it turned out that this was an issue on my side. It was related to how I used TCRdist3 `TCRrep.clone_df` and `cell_df` (they don't necessarily have the same order,

[2022-02-28 12:35] johnsnowgo opened #323 "error when access to scirpy document"
Hello!
Thanks a lot for creating this fantastic tools to analyze VDJ data.
I recently tried to access the scirpy docunment, but there always is an error for 'icbi-lab.github.io refused our connection request'. Is the website being maintained?  When can I access the document. I sincerely hope you can continue to improve this package. Thanks again.

Best.

[2022-03-02 08:05] grst commented on #323
Hi @johnsnowgo,

what page exactly are you trying to access? The documentation is at https://icbi-lab.github.io/scirpy/latest/ and works fine for me.

[2022-03-03 09:51] grst opened #325 "Update "support" statement in readme"
- [ ] The scverse discourse is now the primary endpoint for user-support. Github is only for code-related issues.
 - [ ] Create issue template and link from discourse there.

[2022-03-05 14:47] johnsnowgo commented on #323
The same as you. It's really strange but I can access to it now.  Thanks a lot.

[2022-03-05 14:47] #323 closed

[2022-03-09 11:48] grst opened #327 "scverse datastructure for AIRR data"
Now that scirpy is part of scverse, we could think of an improved data structure for scAIRR data. See also the discussion at https://github.com/theislab/scanpy/issues/1387.

The challenge with scAIRR data is that
 * `1` cell can have `n` chains. Up to four of them are biologically meaningful but there could be more for technical reasons.
 * Each chain has a lot of fields. See the [AIRR rearrangeme

[2022-03-21 23:59] wajm opened #328 "BD Rhapsody data import"
I have a question about BD Rhapsody CDR3 VDJ data import.
Following scirpy introduction, imported data object is very similar with BD VDJ data.

If you have an interest wiht BD VDJ data, please check the possibility of BD VDJ data import into scirpy.
I can share my data to you.

[2022-03-22 07:00] grst commented on #328
Hi @wajm,

I'm definitely interested to have a data loader for BD data!

Would you be interested to wrap your code into a function and make a Pull-request to the [`io` module](https://github.com/scverse/scirpy/blob/master/scirpy/io/_io.py)?

Also pinging @Raphael-Gronauer who I think looked into this at some point.

Best,
Gregor

[2022-03-22 07:40] wajm commented on #328
Hi Gregor,
Thank you for quick response.
Actually, I'm not a expert for computational work (just an end-user).
https://pubmed.ncbi.nlm.nih.gov/34003804/
Following the JCI study, I make around 80 human nasal immune cells and PBMC VDJ libraries.
I'd like to use scirpy for BD Rhapsody VDJ data. (import the data to scirpy and analyze them)

best,
JUNGMO

[2022-03-22 07:52] grst commented on #328
ah, sorry, I understood you already had some custom code based on the [io tutorial](https://scverse.org/scirpy/latest/tutorials/tutorial_io.html).

Let's see if @Raphael-Gronauer has some code to offer ;)

[2022-03-22 21:41] wajm commented on #328
Okay~ @Raphael-Gronauer
Please let me know where can I share my example data.

[2022-03-25 07:46] Raphael-Gronauer commented on #328
I have implemented a the BD data import and created a pull request.
The code just needs to be reviewed by @grst

[2022-03-25 07:50] wajm commented on #328
Hi, @Raphael-Gronauer.
Thank you very much.
You have BD example data? I add my BD VDJ data.
[RhapVDJ.csv](https://github.com/scverse/scirpy/files/8348480/RhapVDJ.csv)
best,
JungMo

[2022-03-25 07:58] Raphael-Gronauer commented on #328
@wajm
thanks
I have BD data from my own project.

[2022-03-25 08:02] wajm commented on #328
@Raphael-Gronauer.
Okay very good.
I just inform to you my VDJ data is targeted immune panel.
I don't know this data form is similar with recent launched VDJ WTA version.
best,
JungMo

[2022-03-25 08:14] Raphael-Gronauer commented on #328
@wajm
I also work with a targeted panel.
The data import takes the data as it comes from the BD pipeline.
It needs one file for the RNAseq mols per cell and one file for the VDJ. (both as .csv)
Additional it is also possible to provide a .csv file for dCODE sequencing data if you have.

Best,
Raphael

[2022-03-25 08:17] wajm commented on #328
@Raphael-Gronauer
Perfect!!!
When the code is released, I will use it.
Thanks a lot.
Best,
JungMo